/*
 * layout.css
 * header/footer 모든 페이지의 공통 스타일 적용
*/
.skipnav {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.skipnav a {
    position: absolute; /* skipnav를 기준으로 정렬 */
    left: 0;
    top: -100px;
    width: 100%;
    display: block;
    background-color: #3d3d3d;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
.skipnav a.menu {
    background-color: #fff;
    color: #3d3d3d;
}
.skipnav a:focus {
    top: 0;
}
header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: var(--header-h);
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-bottom: 1px solid rgba(255,255,255,0.4);
}
header .logo a{
    display: block;
    width: 8.23em;
    height: 2.73em;
    color: transparent;
    text-indent: -999px;
    position: relative;
}
header .logo a::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../images/logo.svg)no-repeat center center / cover;
}
@media screen and (min-width:1300px){ /* n > 1300  */
  

    header .gnb_open,
    header .gnb_close {
        display: none;
    }
    header .gnb_wrap ul.depth1 {
        display: flex;
        align-items: center;
    }
    header .gnb_wrap ul.depth1 > li {
        width: 8.58em;
        text-align: center;
        position: relative;
    }
    header .gnb_wrap ul.depth1 > li > a {
        display: block;
        font-size: var(--heading-font-size);
        font-weight: 700;
    }
    header .gnb_wrap ul.depth1 > li > ul.depth2 {
        display: none;
        position: absolute;
        left: 0;
        top: var(--header-h);
        width: 100%;
        padding: 30px 0;
    }
    header .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
        display: block;
        font-size: var(--base-font-size);
        color: #3d3d3d;
        padding: 13px;
    }
    header .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:hover {
        font-weight: 700;
    }
    header .gnb_wrap ul.depth1 > li > ul.depth2 > li:nth-child(1) > a {
        padding: 0 0 13px 0;
    }
    



    /* 헤더에 menu_pc클래스가 추가됨 */
    /* 추가시켜서 뭐하게? 마우스가 뎁스2에 올라갔을때 뜨면 되는거 아니야? */
    /* 모바일일때는 이 기능을 사용 안할꺼야 */
    /* 피시일때 뎁스2의 백그라운드가 화이트로 깔리고 글자는 검정으로 변하며 뎁스1에 마우스가 오버됬을시에*/
    /* 이게 아니고 피시버젼에서 뎁스1에 마우스엔터이벤트가 발생했을때 menu_pc 클래스를 추가시키는거같아*/
    header.menu_pc {
        color: #1d1d1d;
    }
    header.menu_pc::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: var( --header-depth2-h);
        background-color: #fff;
        z-index: -1;
        box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    }
    header.menu_pc::after {
        content: "";
        position: absolute;
        left: 0;
        top: var(--header-h);
        width: 100%;
        height: 1px;
        background-color: rgba(0,0,0,0.2);
    }
    header.menu_pc .logo a::before {
        background-image: url(../images/logo_black.svg);
    }
    header.menu_pc .gnb_wrap ul.depth1 > li > ul.depth2 {
        display: block;
    }
    



    /* 피시버젼상태의 경우 뎁스1에 마우스 이벤트가 발생하면 menu_pc 클래스가 추가되면서 뎁스2가 열리잖아?*/
    /* 그 뎁스1에 가져간 마우스가 오버된 뎁스1의 li에 일어나는 호버링 정의*/
    header .gnb .gnb_wrap ul.depth1 > li.over {
        position: relative;
    }
    header .gnb .gnb_wrap ul.depth1 > li.over > a  {
        color: #1d1d1d;
        font-weight: 700;
    }
    header.menu_pc .gnb .gnb_wrap ul.depth1 > li.over > a::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -27px;
        width: 100%;
        height: 3px;
        background-color: #1d1d1d;
    }
    
    /* pc상태에서 브라우져 사이즈가 1024밑으로 떨어지면 depth1이 없어지고 메뉴열기 버튼이 생김 */
    /* 메뉴버튼은 header에 menu_mo클래스가 추가되면서 생기게됨 */
    

    header .h_tab .lang ul{
        display: flex;
        align-items: center;
        gap: 0.88em;
    }
    header .h_tab .lang ul li a {
        display: block;
        font-size: var(--heading-font-size);
        padding-bottom: 0.38em;
    }
    header .h_tab .lang ul li.active a {
        border-bottom: 1px solid #fff;
    }
    header.menu_pc .h_tab .lang ul li.active a {
        border-bottom: 1px solid #1d1d1d;
    }

}
@media screen and (max-width:1300px){ /* n < 1024  웹사이트 전체적인 레이아웃에 큰 변화는 없지만 헤더의 menu_mo클래스가 추가되면서 depth1이 없어지고 메뉴열기 버튼이 생김 누르면 depth2가 열릴것임*/

    header .gnb .gnb_open{
        width: var(--header-h);
        height: var(--header-h);
        position: relative;
        color: transparent;
        text-indent: -9999px;
    }
    header .gnb .gnb_open::before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 2.5em;
        background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 30V27.2221H35V30H5ZM5 21.3887V18.6112H35V21.3887H5ZM5 12.7779V10H35V12.7779H5Z' fill='white'/%3E%3C/svg%3E%0A");
    }
    header .gnb_wrap {
        transform: translateX(100%);
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        max-width: 50%;
        height: 100dvh;
        z-index: 100;
        background-color: #fff;
        transition: 0.5s;
        color: #3d3d3d;
    }
    header .gnb_wrap ul.depth1 {
        margin-top: var(--header-h);
    }
    header .gnb_wrap ul.depth1 > li {
        height: 80px;
        border-bottom: rgba(81,81,81,0.6);
    }
    header .gnb_wrap ul.depth1 > li > a {
        display: block;
        font-size: var(--sub-font-size);
        color: #1d1d1d;
        font-weight: 700;
        padding: 25px 20px;
        position: relative;
    }
    header .gnb_wrap ul.depth1 > li > ul.depth2{
        display: none;
    }
    header.menu_mo .gnb_wrap{
        transform: translateX(0%);
    }
    header .h_tab{
        position: absolute;
        right: 0;
        top: 0;
        width: var(--header-h);
        height: var(--header-h);
        color: transparent;
        text-indent: -9999px;
    }

    
}