@import url(default.css); /* default.css를 이 문서에 복사해서 넣은 것처럼 불러오기 */
@import url(font.css);
@import url(common.css);

header {
    position: absolute; /* body를 기준으로 정렬 */
    left: 0;
    top: 0;
    z-index: 100;
    /* header는 무조건 맨위에 있어야 하기 때문에 
       제일 높은 숫자 100을 줌 - 하단 콘텐츠는 100이하의 값을 줌 */
    width: 100%; 
    /* block에 absolute를 줘도 넓이가 없음(100%안됨)
       내부 요소 만큼만 늘어남 */
    height: 100px;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    /* 해더의 높이를 정의하고 그 헤더의 보더에 선을 줌 */
}
header .wrapper {
    display: flex;
    justify-content: space-between;
}
header .logo {
    margin-top: 33px;
}
header .gnb ul {
    display: flex;
}
header .gnb ul li a {
    display: block;
    font-size: 23px;
    font-weight: 800;
    color: #fff;
    padding: 37px 25px 30px 25px;
}

.visual {
    background: url(../images/visual_bg.jpg) no-repeat center center / cover;
    border-bottom-right-radius: 190px;
}
.visual .wrapper {
    height: 100vh;
    /* 브라우저의 콘텐츠 높이 100vh로 보는 상대값 */
    /* pic는 wrapper를 기준으로 오른쪽 하단에 absolute로 배치
      단 visual에 height가 있는 상태에서는 wrapper는 콘텐츠가 
      존재하는 만큼만 높이가 잡힘
      그래서 wrapper에 높이를 주고 visual은 그 높이만큼 들어가게하면
      편함. */
    position: relative; /* pic 정렬의 기준 */
}
.visual h2 {
    padding-top: calc(50vh - 179px);
    /* 50vh - 179px을 빼야함, 단위가 안맞음 
        이렇게 단위가 다른 수치를 계산할때 쓰는 식이
        calc()임 단, 반드시 - + 앞뒤로는 여백을 줘야함
        단위를 써야함. */
    text-align: center;
}
.visual .pic {
    position: absolute; /* wrapper를 기준으로 정렬, a::before 정렬의 중심 */
    right: -96px;
    bottom: -94px;
}
.visual .pic a {
    display: block;
    width: 188px;
    height: 188px;
    border-radius: 50%; /* 동그라미는 무조건 50% */
    background-color: #006DBB;
    color: #fff;
    font-size: 20px;
    text-align: center;
    padding-top: 98px;
    line-height: 1.2;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.15);
}
.visual .pic a::before {
    content: "";
    position: absolute; /* pic를 기준으로 정렬 */
    top: 47px;
    left: 50%;
    transform: translateX(-50%); /* 좌우에 가운데 */
    width: 40px; /* 아이콘 사이즈 */
    height: 40px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.00033 35.0003C4.08366 35.0003 3.29894 34.6739 2.64616 34.0212C1.99338 33.3684 1.66699 32.5837 1.66699 31.667V11.667C1.66699 10.7503 1.99338 9.9656 2.64616 9.31283C3.29894 8.66005 4.08366 8.33366 5.00033 8.33366H10.2503L12.3337 6.08366C12.6392 5.75033 13.0073 5.48644 13.4378 5.29199C13.8684 5.09755 14.3198 5.00033 14.792 5.00033H21.667C22.1392 5.00033 22.535 5.16005 22.8545 5.47949C23.1739 5.79894 23.3337 6.19477 23.3337 6.66699C23.3337 7.13921 23.1739 7.53505 22.8545 7.85449C22.535 8.17394 22.1392 8.33366 21.667 8.33366H14.792L11.7503 11.667H5.00033V31.667H31.667V18.3337C31.667 17.8614 31.8267 17.4656 32.1462 17.1462C32.4656 16.8267 32.8614 16.667 33.3337 16.667C33.8059 16.667 34.2017 16.8267 34.5212 17.1462C34.8406 17.4656 35.0003 17.8614 35.0003 18.3337V31.667C35.0003 32.5837 34.6739 33.3684 34.0212 34.0212C33.3684 34.6739 32.5837 35.0003 31.667 35.0003H5.00033ZM31.667 8.33366H30.0003C29.5281 8.33366 29.1323 8.17394 28.8128 7.85449C28.4934 7.53505 28.3337 7.13921 28.3337 6.66699C28.3337 6.19477 28.4934 5.79894 28.8128 5.47949C29.1323 5.16005 29.5281 5.00033 30.0003 5.00033H31.667V3.33366C31.667 2.86144 31.8267 2.4656 32.1462 2.14616C32.4656 1.82671 32.8614 1.66699 33.3337 1.66699C33.8059 1.66699 34.2017 1.82671 34.5212 2.14616C34.8406 2.4656 35.0003 2.86144 35.0003 3.33366V5.00033H36.667C37.1392 5.00033 37.535 5.16005 37.8545 5.47949C38.1739 5.79894 38.3337 6.19477 38.3337 6.66699C38.3337 7.13921 38.1739 7.53505 37.8545 7.85449C37.535 8.17394 37.1392 8.33366 36.667 8.33366H35.0003V10.0003C35.0003 10.4725 34.8406 10.8684 34.5212 11.1878C34.2017 11.5073 33.8059 11.667 33.3337 11.667C32.8614 11.667 32.4656 11.5073 32.1462 11.1878C31.8267 10.8684 31.667 10.4725 31.667 10.0003V8.33366ZM18.3337 29.167C20.417 29.167 22.1878 28.4378 23.6462 26.9795C25.1045 25.5212 25.8337 23.7503 25.8337 21.667C25.8337 19.5837 25.1045 17.8128 23.6462 16.3545C22.1878 14.8962 20.417 14.167 18.3337 14.167C16.2503 14.167 14.4795 14.8962 13.0212 16.3545C11.5628 17.8128 10.8337 19.5837 10.8337 21.667C10.8337 23.7503 11.5628 25.5212 13.0212 26.9795C14.4795 28.4378 16.2503 29.167 18.3337 29.167ZM18.3337 25.8337C17.167 25.8337 16.1809 25.4309 15.3753 24.6253C14.5698 23.8198 14.167 22.8337 14.167 21.667C14.167 20.5003 14.5698 19.5142 15.3753 18.7087C16.1809 17.9031 17.167 17.5003 18.3337 17.5003C19.5003 17.5003 20.4864 17.9031 21.292 18.7087C22.0975 19.5142 22.5003 20.5003 22.5003 21.667C22.5003 22.8337 22.0975 23.8198 21.292 24.6253C20.4864 25.4309 19.5003 25.8337 18.3337 25.8337Z' fill='white'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain; /* 아이콘 안짤리고 사이즈에 딱 맞게 나오기 */
}
.visual .pic a:hover {
    color: #60E3D5;
    box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.25);
}
.visual .pic a:hover::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.00033 35.0003C4.08366 35.0003 3.29894 34.6739 2.64616 34.0212C1.99338 33.3684 1.66699 32.5837 1.66699 31.667V11.667C1.66699 10.7503 1.99338 9.9656 2.64616 9.31283C3.29894 8.66005 4.08366 8.33366 5.00033 8.33366H10.2503L12.3337 6.08366C12.6392 5.75033 13.0073 5.48644 13.4378 5.29199C13.8684 5.09755 14.3198 5.00033 14.792 5.00033H21.667C22.1392 5.00033 22.535 5.16005 22.8545 5.47949C23.1739 5.79894 23.3337 6.19477 23.3337 6.66699C23.3337 7.13921 23.1739 7.53505 22.8545 7.85449C22.535 8.17394 22.1392 8.33366 21.667 8.33366H14.792L11.7503 11.667H5.00033V31.667H31.667V18.3337C31.667 17.8614 31.8267 17.4656 32.1462 17.1462C32.4656 16.8267 32.8614 16.667 33.3337 16.667C33.8059 16.667 34.2017 16.8267 34.5212 17.1462C34.8406 17.4656 35.0003 17.8614 35.0003 18.3337V31.667C35.0003 32.5837 34.6739 33.3684 34.0212 34.0212C33.3684 34.6739 32.5837 35.0003 31.667 35.0003H5.00033ZM31.667 8.33366H30.0003C29.5281 8.33366 29.1323 8.17394 28.8128 7.85449C28.4934 7.53505 28.3337 7.13921 28.3337 6.66699C28.3337 6.19477 28.4934 5.79894 28.8128 5.47949C29.1323 5.16005 29.5281 5.00033 30.0003 5.00033H31.667V3.33366C31.667 2.86144 31.8267 2.4656 32.1462 2.14616C32.4656 1.82671 32.8614 1.66699 33.3337 1.66699C33.8059 1.66699 34.2017 1.82671 34.5212 2.14616C34.8406 2.4656 35.0003 2.86144 35.0003 3.33366V5.00033H36.667C37.1392 5.00033 37.535 5.16005 37.8545 5.47949C38.1739 5.79894 38.3337 6.19477 38.3337 6.66699C38.3337 7.13921 38.1739 7.53505 37.8545 7.85449C37.535 8.17394 37.1392 8.33366 36.667 8.33366H35.0003V10.0003C35.0003 10.4725 34.8406 10.8684 34.5212 11.1878C34.2017 11.5073 33.8059 11.667 33.3337 11.667C32.8614 11.667 32.4656 11.5073 32.1462 11.1878C31.8267 10.8684 31.667 10.4725 31.667 10.0003V8.33366ZM18.3337 29.167C20.417 29.167 22.1878 28.4378 23.6462 26.9795C25.1045 25.5212 25.8337 23.7503 25.8337 21.667C25.8337 19.5837 25.1045 17.8128 23.6462 16.3545C22.1878 14.8962 20.417 14.167 18.3337 14.167C16.2503 14.167 14.4795 14.8962 13.0212 16.3545C11.5628 17.8128 10.8337 19.5837 10.8337 21.667C10.8337 23.7503 11.5628 25.5212 13.0212 26.9795C14.4795 28.4378 16.2503 29.167 18.3337 29.167ZM18.3337 25.8337C17.167 25.8337 16.1809 25.4309 15.3753 24.6253C14.5698 23.8198 14.167 22.8337 14.167 21.667C14.167 20.5003 14.5698 19.5142 15.3753 18.7087C16.1809 17.9031 17.167 17.5003 18.3337 17.5003C19.5003 17.5003 20.4864 17.9031 21.292 18.7087C22.0975 19.5142 22.5003 20.5003 22.5003 21.667C22.5003 22.8337 22.0975 23.8198 21.292 24.6253C20.4864 25.4309 19.5003 25.8337 18.3337 25.8337Z' fill='%2360E3D5'/%3E%3C/svg%3E%0A");
}

.culture {
    margin-top: 235px;
}

.culture .wrapper {
    position: relative; /*more 정렬의 기준*/
}


.culture .tit h2 {
    font-size: 40px;
    font-weight: 700;
    color: #1d1d1d;
    margin-bottom: 22px;
}

.culture .list {
    margin: 82px 0 229px 0;
}

.culture .list ul {
    display: flex;
    justify-content: space-between;
}

.culture .list ul li {
    width: 404px;
}

.culture .list ul li a {
    display: block;
}
.culture .list ul li a .photo{
    overflow: hidden;/*photo 영역 밖으로 나가는 이미지를 숨김*/
    font-size: 0;   /* 이거 안하면 확대되면서 이미지 영역이 커짐  */
    line-height: 0;
}
.culture .list ul li a .photo img{
    transition: 1s; /*만약 커서가 오버되었을때 액션을 준다면 액션이 천천히 일어나도록 정의*/
}
.culture .list ul li a:hover .photo img {
    transform: scale3d(1.2,1.2,1); /* 커서가 오버되었을때 이미지를 확대 but, 확대만 되지 영역이 정의되지 않아서 밖으로 빠져나감*/
}

.culture .list ul li a h3 {
    font-size: 20px;
    font-weight: 700;
    color: #1d1d1d;
    margin: 20px 0 8px 0;
}

.culture .list ul li a span {
    color: #8e8e8e;
    margin: 30px 0 0 0;
    display: inline-block;
    position: relative;
    padding-right: 27px; /*글자에 오른쪽에 아이콘이 들어가면 그 아이콘이 들어갈 영역까지 padding으로 늘려놓음 */
}

/*.culture .list ul li a span::before {
    position: absolute;
    content: "";
    bottom: 0; 밑줄의
    left: 0; 위치 정의
    width: calc( 100% - 8px); 넓이 정의
    background-color: #8e8e8e; 밑줄의 색상 정의
    height: 1px; 밑줄의 굵기 정의
} 밑줄디자인 */

.culture .list ul li a span::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 24px; /*아이콘 넓이*/
    height: 24px; /*아이콘 높이*/
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.6008 11.9969L8.70078 8.09688C8.51745 7.91354 8.42578 7.68021 8.42578 7.39688C8.42578 7.11354 8.51745 6.88021 8.70078 6.69688C8.88411 6.51354 9.11745 6.42188 9.40078 6.42188C9.68411 6.42188 9.91745 6.51354 10.1008 6.69688L14.7008 11.2969C14.8008 11.3969 14.8716 11.5052 14.9133 11.6219C14.9549 11.7385 14.9758 11.8635 14.9758 11.9969C14.9758 12.1302 14.9549 12.2552 14.9133 12.3719C14.8716 12.4885 14.8008 12.5969 14.7008 12.6969L10.1008 17.2969C9.91745 17.4802 9.68411 17.5719 9.40078 17.5719C9.11745 17.5719 8.88411 17.4802 8.70078 17.2969C8.51745 17.1135 8.42578 16.8802 8.42578 16.5969C8.42578 16.3135 8.51745 16.0802 8.70078 15.8969L12.6008 11.9969Z' fill='%238E8E8E'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.culture .more {
    position: absolute; /* wrapper a::after의 정렬의 기준 를 기준으로 정렬*/
    right: 0;
    top: 61px;
    /* padding: ; 전체보기의 아이콘이 들어간다면 아이콘이 떨어질 값을 정의 */
}

.culture .more a {
    display: block;
    border: 1px solid #8e8e8e;
    padding: 10px 38px;
    border-radius: 30px;
}

.culture .more a:hover {
    background-color: #006DBB;
    color: #fff;
}

/*.culture .more a::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.6008 11.9969L8.70078 8.09688C8.51745 7.91354 8.42578 7.68021 8.42578 7.39688C8.42578 7.11354 8.51745 6.88021 8.70078 6.69688C8.88411 6.51354 9.11745 6.42188 9.40078 6.42188C9.68411 6.42188 9.91745 6.51354 10.1008 6.69688L14.7008 11.2969C14.8008 11.3969 14.8716 11.5052 14.9133 11.6219C14.9549 11.7385 14.9758 11.8635 14.9758 11.9969C14.9758 12.1302 14.9549 12.2552 14.9133 12.3719C14.8716 12.4885 14.8008 12.5969 14.7008 12.6969L10.1008 17.2969C9.91745 17.4802 9.68411 17.5719 9.40078 17.5719C9.11745 17.5719 8.88411 17.4802 8.70078 17.2969C8.51745 17.1135 8.42578 16.8802 8.42578 16.5969C8.42578 16.3135 8.51745 16.0802 8.70078 15.8969L12.6008 11.9969Z' fill='%238E8E8E'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain; 전체보기의 아이콘 then, absolute의 relative는 어디?
    transition: 1s;
}

.culture .more a:hover::after {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.6008 11.9969L8.70078 8.09688C8.51745 7.91354 8.42578 7.68021 8.42578 7.39688C8.42578 7.11354 8.51745 6.88021 8.70078 6.69688C8.88411 6.51354 9.11745 6.42188 9.40078 6.42188C9.68411 6.42188 9.91745 6.51354 10.1008 6.69688L14.7008 11.2969C14.8008 11.3969 14.8716 11.5052 14.9133 11.6219C14.9549 11.7385 14.9758 11.8635 14.9758 11.9969C14.9758 12.1302 14.9549 12.2552 14.9133 12.3719C14.8716 12.4885 14.8008 12.5969 14.7008 12.6969L10.1008 17.2969C9.91745 17.4802 9.68411 17.5719 9.40078 17.5719C9.11745 17.5719 8.88411 17.4802 8.70078 17.2969C8.51745 17.1135 8.42578 16.8802 8.42578 16.5969C8.42578 16.3135 8.51745 16.0802 8.70078 15.8969L12.6008 11.9969Z' fill='%238E8E8E'/%3E%3C/svg%3E%0A");
    transform: rotate(360deg);
    아이콘의 회전을 정의함
}*/

.tour {
    background-color: #f7f7f7;
    padding: 244px 0 300px 0;
}

.tour .wrapper {
    position: relative;
}

.tour .tit h2 {
    font-size: 40px;
    font-weight: 700;
    color: #1d1d1d;
}

.tour .list {
    margin-top: 66px;
}

.tour .list ul {
    display: flex;
    justify-content: space-between;
}

.tour .list ul li a {
    width: 190px;
    height: 378px;
    display: block;
    text-align: center;
    color: #fff;
    padding-top: 314px;
}

.tour .list ul li a h3 {
    font-size: 20px;
    font-weight: 700;
}

.tour .list ul li.bg1 a {
    background-image: url(../images/tour_bg01.jpg);
}

.tour .list ul li.bg2 a {
    background-image: url(../images/tour_02.jpg);
}

.tour .list ul li.bg3 a {
    background-image: url(../images/tour_03.jpg);
}

.tour .list ul li.bg4 a {
    background-image: url(../images/tour_04.jpg);
}

.tour .list ul li a p {
    display: none;
}

.tour .list ul li a span {
    padding: 0 27px 0 0;
    position: relative;
    display: none;
}

.tour .list ul li a span::after {
    content: "";
    position: absolute;
    right: 0;
    top: 15px;
    width: 27px;
    height: 27px;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.6008 11.9969L8.70078 8.09688C8.51745 7.91354 8.42578 7.68021 8.42578 7.39688C8.42578 7.11354 8.51745 6.88021 8.70078 6.69688C8.88411 6.51354 9.11745 6.42188 9.40078 6.42188C9.68411 6.42188 9.91745 6.51354 10.1008 6.69688L14.7008 11.2969C14.8008 11.3969 14.8716 11.5052 14.9133 11.6219C14.9549 11.7385 14.9758 11.8635 14.9758 11.9969C14.9758 12.1302 14.9549 12.2552 14.9133 12.3719C14.8716 12.4885 14.8008 12.5969 14.7008 12.6969L10.1008 17.2969C9.91745 17.4802 9.68411 17.5719 9.40078 17.5719C9.11745 17.5719 8.88411 17.4802 8.70078 17.2969C8.51745 17.1135 8.42578 16.8802 8.42578 16.5969C8.42578 16.3135 8.51745 16.0802 8.70078 15.8969L12.6008 11.9969Z' fill='white'/%3E%3C/svg%3E%0A");
}

 .tour .list ul li.on a {
    width: 658px;
    text-align: left;
    padding: 247px 0 0 40px;
}

.tour .list ul li.on h3 {
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 10px;
}

.tour .list ul li.on p {
    display: block;
}

.tour .list ul li.on span {
    display: inline-block;
    padding-top: 15px;
} 

.tour .more {
    position: absolute;
    content: "";
    right: 0;
    top: 46px;
    border: 1px solid #8e8e8e;
    border-radius: 30px;
    
    padding: 5px 27px 5px 5px;
}

.tour .more a {
    display: block;
    padding: 8px 20px
}

.tour .more a::after {
    position: absolute;
    content: "";
    top: 11px;
    right: 8px;
    width: 27px;
    height: 27px;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.6008 11.9969L8.70078 8.09688C8.51745 7.91354 8.42578 7.68021 8.42578 7.39688C8.42578 7.11354 8.51745 6.88021 8.70078 6.69688C8.88411 6.51354 9.11745 6.42188 9.40078 6.42188C9.68411 6.42188 9.91745 6.51354 10.1008 6.69688L14.7008 11.2969C14.8008 11.3969 14.8716 11.5052 14.9133 11.6219C14.9549 11.7385 14.9758 11.8635 14.9758 11.9969C14.9758 12.1302 14.9549 12.2552 14.9133 12.3719C14.8716 12.4885 14.8008 12.5969 14.7008 12.6969L10.1008 17.2969C9.91745 17.4802 9.68411 17.5719 9.40078 17.5719C9.11745 17.5719 8.88411 17.4802 8.70078 17.2969C8.51745 17.1135 8.42578 16.8802 8.42578 16.5969C8.42578 16.3135 8.51745 16.0802 8.70078 15.8969L12.6008 11.9969Z' fill='%238E8E8E'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: 1s; 
    /* 변화가 있을 예정이면 정의 해야되는 값 왜? */
}
/* 나 이거 a태그 block이랑 padding줄때, a에 주는거 계속 까먹는다 */

.tour .more a:hover::after {
    transform: rotate(180deg);
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.6008 11.9969L8.70078 8.09688C8.51745 7.91354 8.42578 7.68021 8.42578 7.39688C8.42578 7.11354 8.51745 6.88021 8.70078 6.69688C8.88411 6.51354 9.11745 6.42188 9.40078 6.42188C9.68411 6.42188 9.91745 6.51354 10.1008 6.69688L14.7008 11.2969C14.8008 11.3969 14.8716 11.5052 14.9133 11.6219C14.9549 11.7385 14.9758 11.8635 14.9758 11.9969C14.9758 12.1302 14.9549 12.2552 14.9133 12.3719C14.8716 12.4885 14.8008 12.5969 14.7008 12.6969L10.1008 17.2969C9.91745 17.4802 9.68411 17.5719 9.40078 17.5719C9.11745 17.5719 8.88411 17.4802 8.70078 17.2969C8.51745 17.1135 8.42578 16.8802 8.42578 16.5969C8.42578 16.3135 8.51745 16.0802 8.70078 15.8969L12.6008 11.9969Z' fill='%23ffffff'/%3E%3C/svg%3E%0A");
}

.tour .more a:hover {
    color: #fff;
    background-color: #006DBB;
}

.community {
    background: url(../images/community_bg.jpg) no-repeat center center;
    height: 1080px;
    color: #fff;
}

.community .wrapper {
    display: flex;
    justify-content: space-between;
}

.community .tit {
 margin-top: 383px;
}

.community .tit strong {
    font-size: 20px;
    display: block;
}

.community .tit h2 {
    font-size: 40px;
    font-weight: 700;
    margin: 10px 0 15px 0;
}

.community .inner {
    margin-top: 353px;
    display: flex;
}

.community .notice {
    width: 673px;
    height: 462px;
    background-color: rgba(3,99,202,0.4);
    border-radius: 10px;
    backdrop-filter: blur(3px);
    padding: 42px 55px 0 55px;
    position: relative;   
    /* notice > more정렬의 기준 */
}

.community .notice h3 {
    font-size: 40px;
    font-weight: 700;
}

.community .notice .list {
    padding: 26px 0;
    border-bottom: rgba(255,255,255,0.5);
}

.community .notice .list ul li {
    border-bottom: 1px solid rgba(255,255,255,0.4);
}

.community .notice .list ul li:last-child {
    border-bottom: 0;
}

.community .notice .list ul li a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 19px 0;
}

.community .notice .list ul li:hover strong {
    font-weight: 600;
}

.community .notice .list ul li a span {
    color: rgba(255,255,255,0.8);
}

.community .notice .more {
    position: absolute;
    top: 62px;
    right: 57px;
    font-size: 0;
    /* html에서 쓴 글씨 안보이게 하기 */
    line-height: 0;
}

.community .notice .more::before {
    content: "";
    position: absolute;
    /* more를 기준으로 정렬 */
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='20' viewBox='0 0 22 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.175 10.75H6.325C6.09125 10.75 5.89531 10.6785 5.73719 10.5356C5.57906 10.3927 5.5 10.2156 5.5 10.0044C5.5 9.79313 5.57906 9.61458 5.73719 9.46875C5.89531 9.32292 6.09125 9.25 6.325 9.25H10.175V5.75C10.175 5.5375 10.2536 5.35937 10.4108 5.21562C10.568 5.07187 10.7628 5 10.9952 5C11.2276 5 11.424 5.07187 11.5844 5.21562C11.7448 5.35937 11.825 5.5375 11.825 5.75V9.25H15.675C15.9088 9.25 16.1047 9.32146 16.2628 9.46438C16.4209 9.60729 16.5 9.78438 16.5 9.99563C16.5 10.2069 16.4209 10.3854 16.2628 10.5312C16.1047 10.6771 15.9088 10.75 15.675 10.75H11.825V14.25C11.825 14.4625 11.7464 14.6406 11.5892 14.7844C11.432 14.9281 11.2372 15 11.0048 15C10.7724 15 10.576 14.9281 10.4156 14.7844C10.2552 14.6406 10.175 14.4625 10.175 14.25V10.75Z' fill='white'/%3E%3C/svg%3E ");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;

    transition: 1s;
}

.community .notice .more:hover::before {
    transform: rotate(360deg);
}

.community .notice .more a {
    display: block;
    width: 27px;
    height: 27px;
}

.community .link {
    margin: 165px 0 0 24px;
    width: 297px;
    /* flex wrap이 넓이를 빠져나가면 밑줄로 가니까 두개의 넓의를 정의해서 두개빼고 빠져나가게함 */
}

.community .link ul {
    display: flex;
    flex-wrap: wrap;
    /* flex는 절대 여러줄을 허용하지 않음, but 허용해주는 property가 flex-wrap임 */
    gap: 17px;
    /* felx 각각의 요소의 여백을 정의하는 property */
}

.community .link ul li {
    width: 140px;
}

.community .link ul li a {
    height: 140px;
    display: block;
    background-color: rgba(3,99,202,0.4);
    border-radius: 10px;
    backdrop-filter: blur(3px);
    padding: 18px 18px;
    font-size: 20px;
    font-weight: 700;

    position: relative;
    /* after 정렬의 기준 */
}

.community .link ul li a:hover {
    background-color: rgba(1,69,125,0.8);
}

.community .link ul li a::after {
    content: "";
    position: absolute;
    right: 10px;
    bottom: 16px;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.community .link ul li.bus a::after{
    background-image: url("data:image/svg+xml,%3Csvg width='29' height='29' viewBox='0 0 29 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.4154 26.5807C5.00678 26.5807 4.65979 26.4378 4.37442 26.1521C4.08926 25.8661 3.94667 25.5189 3.94667 25.1105V23.1167C3.46334 22.7744 3.08735 22.3196 2.81869 21.7525C2.55024 21.1852 2.41602 20.5726 2.41602 19.9147V8.09323C2.41602 6.54918 3.15612 5.45161 4.63633 4.80052C6.11654 4.14943 8.64568 3.79025 12.2238 3.72299C12.5148 3.72299 12.7586 3.81533 12.9554 4C13.1524 4.18467 13.2508 4.42211 13.2508 4.71231C13.2508 5.00272 13.1599 5.24609 12.9781 5.44245C12.7962 5.6388 12.5582 5.73698 12.2639 5.73698C9.7935 5.76376 7.981 5.89296 6.82643 6.12455C5.67187 6.35615 4.93348 6.70355 4.61126 7.16674H11.5791C11.8645 7.16674 12.1036 7.26361 12.2966 7.45734C12.4897 7.65108 12.5863 7.89104 12.5863 8.17721C12.5863 8.46358 12.4897 8.70243 12.2966 8.89375C12.1036 9.08507 11.8645 9.18073 11.5791 9.18073H4.43001V13.873H16.3421C16.6319 13.873 16.8704 13.9699 17.0577 14.1636C17.2452 14.3573 17.3389 14.5973 17.3389 14.8835C17.3389 15.1698 17.2425 15.4087 17.0495 15.6C16.8566 15.7913 16.6175 15.887 16.3321 15.887H4.43001V19.512C4.43001 20.2168 4.67328 20.826 5.15984 21.3396C5.6466 21.8531 6.22227 22.1099 6.88685 22.1099H17.2785C17.9431 22.1099 18.5188 21.8531 19.0055 21.3396C19.4921 20.826 19.7354 20.2168 19.7354 19.512V17.4678C19.7354 17.1826 19.8322 16.9435 20.026 16.7503C20.2197 16.5574 20.4597 16.4609 20.7458 16.4609C21.0322 16.4609 21.2711 16.5574 21.4624 16.7503C21.6537 16.9435 21.7493 17.1826 21.7493 17.4678V19.9147C21.7493 20.5726 21.6151 21.1852 21.3467 21.7525C21.078 22.3196 20.702 22.7744 20.2187 23.1167V25.1105C20.2187 25.5189 20.0757 25.8661 19.7897 26.1521C19.5036 26.4378 19.1562 26.5807 18.7475 26.5807C18.3387 26.5807 17.9917 26.4378 17.7066 26.1521C17.4212 25.8661 17.2785 25.5189 17.2785 25.1105V24.1239H6.88685V25.1105C6.88685 25.5189 6.74376 25.8661 6.45759 26.1521C6.17162 26.4378 5.82422 26.5807 5.4154 26.5807ZM20.7262 14.1349C19.1058 14.1349 17.7233 13.5625 16.5786 12.4179C15.4341 11.2732 14.8618 9.88871 14.8618 8.26451C14.8618 6.66004 15.4325 5.28385 16.5738 4.13594C17.7148 2.98802 19.0977 2.41406 20.7223 2.41406C22.3535 2.41406 23.7381 2.98299 24.8759 4.12083C26.0138 5.25868 26.5827 6.64323 26.5827 8.27448C26.5827 9.90573 26.0116 11.2903 24.8696 12.4281C23.7275 13.566 22.3464 14.1349 20.7262 14.1349ZM7.57288 20.7001C8.04856 20.7001 8.45255 20.5335 8.78484 20.2004C9.11713 19.8675 9.28328 19.4631 9.28328 18.9873C9.28328 18.5114 9.11673 18.1073 8.78363 17.775C8.45053 17.4427 8.04614 17.2766 7.57046 17.2766C7.09458 17.2766 6.6905 17.4431 6.3582 17.7762C6.02591 18.1093 5.85977 18.5138 5.85977 18.9897C5.85977 19.4654 6.02631 19.8693 6.35941 20.2016C6.69251 20.5339 7.097 20.7001 7.57288 20.7001ZM16.5949 20.7001C17.0708 20.7001 17.4749 20.5335 17.8072 20.2004C18.1395 19.8675 18.3056 19.4631 18.3056 18.9873C18.3056 18.5114 18.1391 18.1073 17.806 17.775C17.4729 17.4427 17.0684 17.2766 16.5925 17.2766C16.1168 17.2766 15.7128 17.4431 15.3805 17.7762C15.0482 18.1093 14.8821 18.5138 14.8821 18.9897C14.8821 19.4654 15.0486 19.8693 15.3817 20.2016C15.7148 20.5339 16.1192 20.7001 16.5949 20.7001ZM21.3062 8.11347V5.0724C21.3062 4.91128 21.2525 4.78038 21.1452 4.67969C21.0378 4.57899 20.9036 4.52865 20.7425 4.52865C20.5814 4.52865 20.4505 4.57899 20.3498 4.67969C20.2491 4.78038 20.1988 4.91128 20.1988 5.0724V8.05305C20.1988 8.18134 20.2222 8.3057 20.2691 8.42613C20.3161 8.54656 20.3832 8.65712 20.4706 8.75781L22.404 10.7818C22.5113 10.8891 22.6455 10.9428 22.8066 10.9428C22.9678 10.9428 23.102 10.8891 23.2093 10.7818C23.3169 10.6744 23.3706 10.5402 23.3706 10.3791C23.3706 10.218 23.3169 10.0837 23.2093 9.97612L21.3062 8.11347ZM6.88685 15.887H4.43001H16.3321H6.88685Z' fill='white'/%3E%3C/svg%3E ");
}

.community .link ul li.house a::after {
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='29' viewBox='0 0 30 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.08344 23.3574H11.4584V16.9131C11.4584 16.6277 11.5582 16.3886 11.7578 16.1956C11.9574 16.0027 12.2048 15.9063 12.5 15.9063H17.5C17.7952 15.9063 18.0426 16.0027 18.2422 16.1956C18.4418 16.3886 18.5416 16.6277 18.5416 16.9131V23.3574H22.9166V11.8783L15 6.13869L7.08344 11.8783V23.3574ZM5 23.3574V11.8783C5 11.5595 5.07375 11.2574 5.22125 10.972C5.36896 10.6869 5.57302 10.4519 5.83344 10.2673L13.75 4.52768C14.1135 4.25923 14.5291 4.125 14.9966 4.125C15.4641 4.125 15.8819 4.25923 16.25 4.52768L24.1666 10.2673C24.427 10.4519 24.631 10.6869 24.7787 10.972C24.9262 11.2574 25 11.5595 25 11.8783V23.3574C25 23.9113 24.796 24.3854 24.3881 24.7799C23.98 25.1743 23.4895 25.3714 22.9166 25.3714H17.5C17.2048 25.3714 16.9574 25.275 16.7578 25.082C16.5582 24.8889 16.4584 24.6497 16.4584 24.3646V17.9199H13.5416V24.3646C13.5416 24.6497 13.4418 24.8889 13.2422 25.082C13.0426 25.275 12.7952 25.3714 12.5 25.3714H7.08344C6.51052 25.3714 6.02 25.1743 5.61188 24.7799C5.20396 24.3854 5 23.9113 5 23.3574Z' fill='white'/%3E%3C/svg%3E ");
}

.community .link ul li.eat a::after {
    background-image: url("data:image/svg+xml,%3Csvg width='29' height='30' viewBox='0 0 29 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.4994 27.5038C12.8413 27.5038 11.2772 27.1757 9.80709 26.5195C8.33695 25.8632 7.05471 24.9692 5.96036 23.8373C4.86621 22.7052 4.00195 21.3787 3.36758 19.8579C2.7332 18.3371 2.41602 16.719 2.41602 15.0038C2.41602 13.3024 2.73995 11.6791 3.38782 10.1341C4.03548 8.58894 4.9216 7.233 6.04615 6.06634C7.17051 4.89967 8.49121 3.98998 10.0083 3.33727C11.5255 2.68436 13.1568 2.39956 14.902 2.4829C15.4325 2.49686 15.8554 2.64446 16.1708 2.92571C16.4864 3.20696 16.6811 3.63227 16.755 4.20165C16.8758 5.45165 17.3709 6.51592 18.24 7.39446C19.1094 8.273 20.1382 8.77477 21.3264 8.89977C21.7494 8.94831 22.0783 9.10102 22.3133 9.3579C22.5482 9.61498 22.7025 9.98998 22.7764 10.4829C22.857 11.2052 23.1171 11.8302 23.5567 12.3579C23.9965 12.8858 24.5521 13.2956 25.2233 13.5873C25.7334 13.8302 26.0942 14.1305 26.3057 14.4882C26.5171 14.8459 26.5961 15.2956 26.5425 15.8373C26.462 17.4414 26.0894 18.9519 25.4248 20.3685C24.7602 21.7852 23.8875 23.023 22.8066 24.082C21.7258 25.1409 20.4746 25.976 19.053 26.5873C17.6311 27.1983 16.1133 27.5038 14.4994 27.5038ZM14.4994 25.4204C17.2247 25.4204 19.5357 24.4795 21.4322 22.5976C23.3286 20.7157 24.3809 18.372 24.5889 15.5663C23.5282 15.1357 22.6774 14.5142 22.0363 13.7016C21.3953 12.8891 20.9875 11.9656 20.8129 10.931C19.2084 10.7019 17.8491 9.98654 16.7348 8.78509C15.6205 7.58363 14.966 6.17394 14.7712 4.55602C13.2407 4.5004 11.8393 4.76769 10.5671 5.3579C9.29516 5.94832 8.20434 6.73831 7.29466 7.7279C6.38499 8.71748 5.68013 9.85113 5.18008 11.1288C4.68003 12.4065 4.43001 13.6982 4.43001 15.0038C4.43001 17.8997 5.40835 20.3598 7.36505 22.3841C9.32194 24.4083 11.7 25.4204 14.4994 25.4204ZM12.6893 12.5454C13.2046 12.5454 13.6418 12.3588 14.0009 11.9857C14.36 11.6126 14.5395 11.1595 14.5395 10.6263C14.5395 10.0932 14.3592 9.64092 13.9985 9.26946C13.6378 8.898 13.1998 8.71227 12.6844 8.71227C12.1691 8.71227 11.7319 8.89884 11.3728 9.27196C11.0137 9.64509 10.8342 10.0982 10.8342 10.6313C10.8342 11.1645 11.0145 11.6168 11.3752 11.9882C11.7359 12.3597 12.1739 12.5454 12.6893 12.5454ZM10.2726 18.7954C10.788 18.7954 11.2252 18.6088 11.5842 18.2357C11.9433 17.8626 12.1229 17.4095 12.1229 16.8763C12.1229 16.3432 11.9425 15.8909 11.5818 15.5195C11.2211 15.148 10.7831 14.9623 10.2678 14.9623C9.75241 14.9623 9.3152 15.1488 8.95612 15.522C8.59704 15.8951 8.41751 16.3482 8.41751 16.8813C8.41751 17.4145 8.59785 17.8668 8.95854 18.2382C9.31922 18.6097 9.75725 18.7954 10.2726 18.7954ZM18.1244 20.0038C18.4667 20.0038 18.7537 19.884 18.9853 19.6445C19.2169 19.4049 19.3327 19.108 19.3327 18.7538C19.3327 18.3997 19.2169 18.1028 18.9853 17.8632C18.7537 17.6236 18.4667 17.5038 18.1244 17.5038C17.782 17.5038 17.495 17.6236 17.2634 17.8632C17.0318 18.1028 16.916 18.3997 16.916 18.7538C16.916 19.108 17.0318 19.4049 17.2634 19.6445C17.495 19.884 17.782 20.0038 18.1244 20.0038Z' fill='white'/%3E%3C/svg%3E ");
}

.community .link ul li.play a::after {
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.9992 27.5C13.8256 27.5 12.7978 27.1076 11.9157 26.3228C11.0339 25.5382 10.4922 24.514 10.2907 23.25C9.10322 23.6875 7.96437 23.7083 6.87416 23.3125C5.78395 22.9167 4.93677 22.2222 4.3326 21.2291C3.72135 20.2291 3.51302 19.1301 3.7076 17.9322C3.90197 16.7343 4.55468 15.7569 5.66573 15C4.54073 14.236 3.88625 13.2673 3.70229 12.0938C3.51833 10.9202 3.72145 9.83344 4.31166 8.83344C4.90187 7.83344 5.74385 7.12677 6.8376 6.71344C7.93135 6.30031 9.07552 6.3125 10.2701 6.75C10.4714 5.48604 11.013 4.46177 11.8951 3.67719C12.777 2.8924 13.8047 2.5 14.9782 2.5C16.152 2.5 17.1798 2.8924 18.0617 3.67719C18.9435 4.46177 19.4852 5.48604 19.6867 6.75C20.895 6.3125 22.0391 6.29511 23.1189 6.69781C24.1989 7.10073 25.0409 7.8126 25.6451 8.83344C26.2353 9.84719 26.4419 10.9357 26.2648 12.0991C26.0877 13.2622 25.4297 14.2292 24.2907 15C25.402 15.7569 26.053 16.7343 26.2439 17.9322C26.4349 19.1301 26.2422 20.2291 25.6657 21.2291C25.0616 22.2499 24.2196 22.9514 23.1398 23.3334C22.06 23.7153 20.9159 23.6875 19.7076 23.25C19.5061 24.514 18.9645 25.5382 18.0826 26.3228C17.2005 27.1076 16.1727 27.5 14.9992 27.5ZM14.9992 25.4166C16.034 25.4166 16.7892 24.9808 17.2648 24.1094C17.7404 23.2379 17.7282 22.389 17.2282 21.5625L16.2701 19.9791C16.0409 20.0416 15.8222 20.085 15.6139 20.1094C15.4055 20.1338 15.2006 20.1459 14.9992 20.1459C14.8048 20.1459 14.6017 20.1338 14.3898 20.1094C14.1779 20.085 13.9574 20.0416 13.7282 19.9791L12.7701 21.5625C12.2701 22.389 12.2579 23.2379 12.7335 24.1094C13.2092 24.9808 13.9644 25.4166 14.9992 25.4166ZM6.10323 20.1459C6.63114 21.0418 7.35864 21.5105 8.28573 21.5522C9.21281 21.5939 9.97145 21.1736 10.5617 20.2916L11.4992 18.875C11.3602 18.736 11.2074 18.5659 11.0407 18.3647C10.8741 18.1632 10.7318 17.9583 10.6139 17.75C10.4957 17.5485 10.388 17.328 10.2907 17.0884C10.1936 16.8489 10.1139 16.5832 10.0514 16.2916H8.22822C7.24906 16.2916 6.51989 16.71 6.04073 17.5469C5.56156 18.3838 5.58239 19.2501 6.10323 20.1459ZM19.3742 20.2916C19.9506 21.1874 20.7093 21.611 21.6501 21.5625C22.5911 21.514 23.3255 21.0418 23.8532 20.1459C24.3741 19.2501 24.3949 18.3838 23.9157 17.5469C23.4366 16.71 22.7074 16.2916 21.7282 16.2916H19.9054C19.8498 16.5832 19.7717 16.8489 19.671 17.0884C19.5704 17.328 19.468 17.5485 19.3639 17.75C19.2597 17.9583 19.1311 18.1563 18.9782 18.3438C18.8255 18.5313 18.652 18.7083 18.4576 18.875L19.3742 20.2916ZM10.0514 13.7084C10.1276 13.4653 10.2092 13.224 10.296 12.9844C10.3829 12.7448 10.4923 12.5174 10.6242 12.3022C10.756 12.0868 10.8932 11.8784 11.0357 11.6772C11.178 11.4757 11.3325 11.2917 11.4992 11.125L10.5826 9.72906C9.99218 8.83323 9.22302 8.40271 8.2751 8.4375C7.32718 8.47229 6.60323 8.94448 6.10323 9.85406C5.56864 10.7639 5.54437 11.6336 6.03041 12.4634C6.51645 13.2934 7.24906 13.7084 8.22822 13.7084H10.0514ZM21.7282 13.7084C22.7074 13.7084 23.4331 13.283 23.9054 12.4322C24.3777 11.5816 24.3603 10.7222 23.8532 9.85406C23.3255 8.95823 22.5981 8.49302 21.671 8.45844C20.744 8.42365 19.9783 8.84719 19.3742 9.72906L18.4576 11.125C18.6243 11.264 18.7787 11.4376 18.921 11.6459C19.0633 11.8543 19.2005 12.073 19.3326 12.3022C19.4645 12.5314 19.5773 12.7553 19.671 12.9741C19.7648 13.1928 19.8429 13.4376 19.9054 13.7084H21.7282ZM13.697 10.0209C13.9261 9.97219 14.1467 9.93219 14.3585 9.90094C14.5704 9.86969 14.777 9.85406 14.9782 9.85406C15.1797 9.85406 15.3864 9.86969 15.5982 9.90094C15.8099 9.93219 16.0303 9.97219 16.2595 10.0209L17.2076 8.4375C17.7005 7.59729 17.7109 6.7449 17.2389 5.88031C16.7666 5.01573 16.013 4.58344 14.9782 4.58344C13.9436 4.58344 13.1902 5.01396 12.7179 5.875C12.2456 6.73604 12.256 7.59021 12.7492 8.4375L13.697 10.0209ZM14.9992 18.0625C15.8394 18.0625 16.5599 17.7622 17.1607 17.1616C17.7614 16.5607 18.0617 15.8402 18.0617 15C18.0617 14.1598 17.7614 13.4393 17.1607 12.8384C16.5599 12.2378 15.8394 11.9375 14.9992 11.9375C14.159 11.9375 13.4384 12.2378 12.8376 12.8384C12.237 13.4393 11.9367 14.1598 11.9367 15C11.9367 15.8402 12.237 16.5607 12.8376 17.1616C13.4384 17.7622 14.159 18.0625 14.9992 18.0625Z' fill='white'/%3E%3C/svg%3E ");
}

footer {
    background-color: #3d3d3d;
    color: rgba(255,255,255,0.8);
    padding: 70px 0 70px 0;
}

footer .f_nav ul {
    display: flex;
    gap: 50px;
    /* flex로 정렬되는 li사이의 여백을 정의하는 property */
}

footer .f_nav ul li {
    position: relative;
}

footer .f_nav ul li.privacy a {
    /* 글자스타일은 대부분 a태그에 준다 */
    color: rgba(255,108,108,0.8);
    font-weight: 700;
}

footer .f_nav ul li::after{
    content: "";
    position: absolute;
    right: -26px;
    top: 3px;
    width: 1px;
    height: 15px;
    background-color: rgba(255,255,255,0.4);
}

footer .f_nav ul li:last-child::after {
    display: none;
}

footer .f_info {
    margin: 20px 0;
    display: flex;
    gap: 25px;
}

footer .copyright {
    color: rgba(255,255,255,0.4);
    position: relative;
    display: inline-block;
}

footer .copyright .license{
    margin: 20px 0 0 0;
}

footer .copyright .license::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 1px;
    background-color: rgba(255,255,255,0.2);
}