/*
 * layout.css
 * header/footer 모든 페이지의 공통 스타일 적용
*/
.skipnav {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.skipnav a {
    position: absolute; /* skipnav를 기준으로 정렬 */
    left: 0;
    top: -100px;
    width: 100%;
    display: block;
    background-color: #0063AF;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
.skipnav a.menu {
    background-color: #00AF00;
}
.skipnav a:focus {
    top: 0;
}
header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: var(--header-h);
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-bottom: 1px solid rgba(255,255,255,0.3);
}
header .logo a {
    display: block;
    width: 10.9375em;
    height: 2.8125em;
    color: transparent;
    text-indent: -999px;
    position: relative;
}
header .logo a::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../images/common/logoWsvg.svg) no-repeat center center / contain;
}

@media screen and (min-width:1025px){ /* n > 1025 실행  */

    /*header에 addClass 'menuMo'시에 display block*/
    header .gnb .gnbOpen,
    header .gnb .gnbWrap .gnbClose,
    header .gnb .gnbWrap .mLang {
        display: none;
    }

    /* header에 addClass 'menuMo'시에 icon change  */
    header .tnb {
        display: flex;
        gap: 0.12em;
    }
    header .tnb .search button,
    header .tnb .lang button {
        width: 2.5em;
        height: 2.5em;
        color: transparent;
        text-indent: -9999px;
        position: relative;
    }
    header .tnb .search button::before,
    header .tnb .lang button::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 1.5em;
    }
    header .tnb .search button::before {
        background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.6667 21.3333C10.2444 21.3333 8.19444 20.4944 6.51667 18.8167C4.83889 17.1389 4 15.0889 4 12.6667C4 10.2444 4.83889 8.19444 6.51667 6.51667C8.19444 4.83889 10.2444 4 12.6667 4C15.0889 4 17.1389 4.83889 18.8167 6.51667C20.4944 8.19444 21.3333 10.2444 21.3333 12.6667C21.3333 13.6444 21.1778 14.5667 20.8667 15.4333C20.5556 16.3 20.1333 17.0667 19.6 17.7333L27.0667 25.2C27.3111 25.4444 27.4333 25.7556 27.4333 26.1333C27.4333 26.5111 27.3111 26.8222 27.0667 27.0667C26.8222 27.3111 26.5111 27.4333 26.1333 27.4333C25.7556 27.4333 25.4444 27.3111 25.2 27.0667L17.7333 19.6C17.0667 20.1333 16.3 20.5556 15.4333 20.8667C14.5667 21.1778 13.6444 21.3333 12.6667 21.3333ZM12.6667 18.6667C14.3333 18.6667 15.75 18.0833 16.9167 16.9167C18.0833 15.75 18.6667 14.3333 18.6667 12.6667C18.6667 11 18.0833 9.58333 16.9167 8.41667C15.75 7.25 14.3333 6.66667 12.6667 6.66667C11 6.66667 9.58333 7.25 8.41667 8.41667C7.25 9.58333 6.66667 11 6.66667 12.6667C6.66667 14.3333 7.25 15.75 8.41667 16.9167C9.58333 18.0833 11 18.6667 12.6667 18.6667Z' fill='white'/%3E%3C/svg%3E%0A");
    }
    header .tnb .lang button::before {
        background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.0001 29.3337C14.1779 29.3337 12.4556 28.9837 10.8334 28.2837C9.21119 27.5837 7.79453 26.6281 6.58341 25.417C5.3723 24.2059 4.41675 22.7892 3.71675 21.167C3.01675 19.5448 2.66675 17.8225 2.66675 16.0003C2.66675 14.1559 3.01675 12.4281 3.71675 10.817C4.41675 9.20588 5.3723 7.79477 6.58341 6.58366C7.79453 5.37255 9.21119 4.41699 10.8334 3.71699C12.4556 3.01699 14.1779 2.66699 16.0001 2.66699C17.8445 2.66699 19.5723 3.01699 21.1834 3.71699C22.7945 4.41699 24.2056 5.37255 25.4167 6.58366C26.6279 7.79477 27.5834 9.20588 28.2834 10.817C28.9834 12.4281 29.3334 14.1559 29.3334 16.0003C29.3334 17.8225 28.9834 19.5448 28.2834 21.167C27.5834 22.7892 26.6279 24.2059 25.4167 25.417C24.2056 26.6281 22.7945 27.5837 21.1834 28.2837C19.5723 28.9837 17.8445 29.3337 16.0001 29.3337ZM16.0001 26.6003C16.5779 25.8003 17.0779 24.967 17.5001 24.1003C17.9223 23.2337 18.2667 22.3114 18.5334 21.3337H13.4667C13.7334 22.3114 14.0779 23.2337 14.5001 24.1003C14.9223 24.967 15.4223 25.8003 16.0001 26.6003ZM12.5334 26.067C12.1334 25.3337 11.7834 24.5725 11.4834 23.7837C11.1834 22.9948 10.9334 22.1781 10.7334 21.3337H6.80008C7.44453 22.4448 8.25008 23.4114 9.21675 24.2337C10.1834 25.0559 11.289 25.667 12.5334 26.067ZM19.4667 26.067C20.7112 25.667 21.8167 25.0559 22.7834 24.2337C23.7501 23.4114 24.5556 22.4448 25.2001 21.3337H21.2667C21.0667 22.1781 20.8167 22.9948 20.5167 23.7837C20.2167 24.5725 19.8667 25.3337 19.4667 26.067ZM5.66675 18.667H10.2001C10.1334 18.2225 10.0834 17.7837 10.0501 17.3503C10.0167 16.917 10.0001 16.467 10.0001 16.0003C10.0001 15.5337 10.0167 15.0837 10.0501 14.6503C10.0834 14.217 10.1334 13.7781 10.2001 13.3337H5.66675C5.55564 13.7781 5.4723 14.217 5.41675 14.6503C5.36119 15.0837 5.33341 15.5337 5.33341 16.0003C5.33341 16.467 5.36119 16.917 5.41675 17.3503C5.4723 17.7837 5.55564 18.2225 5.66675 18.667ZM12.8667 18.667H19.1334C19.2001 18.2225 19.2501 17.7837 19.2834 17.3503C19.3167 16.917 19.3334 16.467 19.3334 16.0003C19.3334 15.5337 19.3167 15.0837 19.2834 14.6503C19.2501 14.217 19.2001 13.7781 19.1334 13.3337H12.8667C12.8001 13.7781 12.7501 14.217 12.7167 14.6503C12.6834 15.0837 12.6667 15.5337 12.6667 16.0003C12.6667 16.467 12.6834 16.917 12.7167 17.3503C12.7501 17.7837 12.8001 18.2225 12.8667 18.667ZM21.8001 18.667H26.3334C26.4445 18.2225 26.5279 17.7837 26.5834 17.3503C26.639 16.917 26.6667 16.467 26.6667 16.0003C26.6667 15.5337 26.639 15.0837 26.5834 14.6503C26.5279 14.217 26.4445 13.7781 26.3334 13.3337H21.8001C21.8667 13.7781 21.9167 14.217 21.9501 14.6503C21.9834 15.0837 22.0001 15.5337 22.0001 16.0003C22.0001 16.467 21.9834 16.917 21.9501 17.3503C21.9167 17.7837 21.8667 18.2225 21.8001 18.667ZM21.2667 10.667H25.2001C24.5556 9.55588 23.7501 8.58921 22.7834 7.76699C21.8167 6.94477 20.7112 6.33366 19.4667 5.93366C19.8667 6.66699 20.2167 7.4281 20.5167 8.21699C20.8167 9.00588 21.0667 9.82255 21.2667 10.667ZM13.4667 10.667H18.5334C18.2667 9.68921 17.9223 8.76699 17.5001 7.90033C17.0779 7.03366 16.5779 6.20033 16.0001 5.40033C15.4223 6.20033 14.9223 7.03366 14.5001 7.90033C14.0779 8.76699 13.7334 9.68921 13.4667 10.667ZM6.80008 10.667H10.7334C10.9334 9.82255 11.1834 9.00588 11.4834 8.21699C11.7834 7.4281 12.1334 6.66699 12.5334 5.93366C11.289 6.33366 10.1834 6.94477 9.21675 7.76699C8.25008 8.58921 7.44453 9.55588 6.80008 10.667Z' fill='white'/%3E%3C/svg%3E%0A");
    }


    /* frist menu  */
    header .gnb .gnbWrap ul.depth1 {
        display: flex;
        align-items: center;
    }
    header .gnb .gnbWrap ul.depth1 > li {
        width: 7.5em;
        text-align: center;
        position: relative; /* depth2의 기준  */
    }
    header .gnb .gnbWrap ul.depth1 > li a {
        height: var(--header-h);
        font-size: var(--sub-font-size);
    }


    /* second menu */
    header .gnb .gnbWrap ul.depth1 > li > ul.depth2 {
        display: none;
        position: absolute;
        left: 0;
        top: var(--header-h);
        width: 100%;
        padding: 1.25em 0;
    }
    header .gnb .gnbWrap ul.depth1 > li > ul.depth2 > li > a {
        display: block;
        font-size: var(--base-font-size);
        padding: 0.5em;
        color: #3d3d3d;
    }
    header .gnb .gnbWrap ul.depth1 > li > ul.depth2 > li > a:hover {
        color: var(--main-color);
        font-weight: 700;
    }

    /* addClass 'menuPc' li에 hover시에 depth2 open */
    header.menuPc {
        color: #1d1d1d;
    }
    header.menuPc::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 500px;
        background-color: #fff;
        z-index: -1;
        box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    }
    header.menuPc::after {
        content: "";
        position: absolute;
        left: 0;
        top: var(--header-h);
        width: 100%;
        height: 1px;
        background-color: rgba(0,0,0,0.2);
    }
    header.menuPc .logo a::before {
        background-image: url(../images/common/logo.svg);
    }
    header.menuPc .tnb .search button::before {
        background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.6667 21.3333C10.2444 21.3333 8.19444 20.4944 6.51667 18.8167C4.83889 17.1389 4 15.0889 4 12.6667C4 10.2444 4.83889 8.19444 6.51667 6.51667C8.19444 4.83889 10.2444 4 12.6667 4C15.0889 4 17.1389 4.83889 18.8167 6.51667C20.4944 8.19444 21.3333 10.2444 21.3333 12.6667C21.3333 13.6444 21.1778 14.5667 20.8667 15.4333C20.5556 16.3 20.1333 17.0667 19.6 17.7333L27.0667 25.2C27.3111 25.4444 27.4333 25.7556 27.4333 26.1333C27.4333 26.5111 27.3111 26.8222 27.0667 27.0667C26.8222 27.3111 26.5111 27.4333 26.1333 27.4333C25.7556 27.4333 25.4444 27.3111 25.2 27.0667L17.7333 19.6C17.0667 20.1333 16.3 20.5556 15.4333 20.8667C14.5667 21.1778 13.6444 21.3333 12.6667 21.3333ZM12.6667 18.6667C14.3333 18.6667 15.75 18.0833 16.9167 16.9167C18.0833 15.75 18.6667 14.3333 18.6667 12.6667C18.6667 11 18.0833 9.58333 16.9167 8.41667C15.75 7.25 14.3333 6.66667 12.6667 6.66667C11 6.66667 9.58333 7.25 8.41667 8.41667C7.25 9.58333 6.66667 11 6.66667 12.6667C6.66667 14.3333 7.25 15.75 8.41667 16.9167C9.58333 18.0833 11 18.6667 12.6667 18.6667Z' fill='%231D1D1D'/%3E%3C/svg%3E ");
    }
    header.menuPc .tnb .lang button::before {
        background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.0001 29.3337C14.1779 29.3337 12.4556 28.9837 10.8334 28.2837C9.21119 27.5837 7.79453 26.6281 6.58341 25.417C5.3723 24.2059 4.41675 22.7892 3.71675 21.167C3.01675 19.5448 2.66675 17.8225 2.66675 16.0003C2.66675 14.1559 3.01675 12.4281 3.71675 10.817C4.41675 9.20588 5.3723 7.79477 6.58341 6.58366C7.79453 5.37255 9.21119 4.41699 10.8334 3.71699C12.4556 3.01699 14.1779 2.66699 16.0001 2.66699C17.8445 2.66699 19.5723 3.01699 21.1834 3.71699C22.7945 4.41699 24.2056 5.37255 25.4167 6.58366C26.6279 7.79477 27.5834 9.20588 28.2834 10.817C28.9834 12.4281 29.3334 14.1559 29.3334 16.0003C29.3334 17.8225 28.9834 19.5448 28.2834 21.167C27.5834 22.7892 26.6279 24.2059 25.4167 25.417C24.2056 26.6281 22.7945 27.5837 21.1834 28.2837C19.5723 28.9837 17.8445 29.3337 16.0001 29.3337ZM16.0001 26.6003C16.5779 25.8003 17.0779 24.967 17.5001 24.1003C17.9223 23.2337 18.2667 22.3114 18.5334 21.3337H13.4667C13.7334 22.3114 14.0779 23.2337 14.5001 24.1003C14.9223 24.967 15.4223 25.8003 16.0001 26.6003ZM12.5334 26.067C12.1334 25.3337 11.7834 24.5725 11.4834 23.7837C11.1834 22.9948 10.9334 22.1781 10.7334 21.3337H6.80008C7.44453 22.4448 8.25008 23.4114 9.21675 24.2337C10.1834 25.0559 11.289 25.667 12.5334 26.067ZM19.4667 26.067C20.7112 25.667 21.8167 25.0559 22.7834 24.2337C23.7501 23.4114 24.5556 22.4448 25.2001 21.3337H21.2667C21.0667 22.1781 20.8167 22.9948 20.5167 23.7837C20.2167 24.5725 19.8667 25.3337 19.4667 26.067ZM5.66675 18.667H10.2001C10.1334 18.2225 10.0834 17.7837 10.0501 17.3503C10.0167 16.917 10.0001 16.467 10.0001 16.0003C10.0001 15.5337 10.0167 15.0837 10.0501 14.6503C10.0834 14.217 10.1334 13.7781 10.2001 13.3337H5.66675C5.55564 13.7781 5.4723 14.217 5.41675 14.6503C5.36119 15.0837 5.33341 15.5337 5.33341 16.0003C5.33341 16.467 5.36119 16.917 5.41675 17.3503C5.4723 17.7837 5.55564 18.2225 5.66675 18.667ZM12.8667 18.667H19.1334C19.2001 18.2225 19.2501 17.7837 19.2834 17.3503C19.3167 16.917 19.3334 16.467 19.3334 16.0003C19.3334 15.5337 19.3167 15.0837 19.2834 14.6503C19.2501 14.217 19.2001 13.7781 19.1334 13.3337H12.8667C12.8001 13.7781 12.7501 14.217 12.7167 14.6503C12.6834 15.0837 12.6667 15.5337 12.6667 16.0003C12.6667 16.467 12.6834 16.917 12.7167 17.3503C12.7501 17.7837 12.8001 18.2225 12.8667 18.667ZM21.8001 18.667H26.3334C26.4445 18.2225 26.5279 17.7837 26.5834 17.3503C26.639 16.917 26.6667 16.467 26.6667 16.0003C26.6667 15.5337 26.639 15.0837 26.5834 14.6503C26.5279 14.217 26.4445 13.7781 26.3334 13.3337H21.8001C21.8667 13.7781 21.9167 14.217 21.9501 14.6503C21.9834 15.0837 22.0001 15.5337 22.0001 16.0003C22.0001 16.467 21.9834 16.917 21.9501 17.3503C21.9167 17.7837 21.8667 18.2225 21.8001 18.667ZM21.2667 10.667H25.2001C24.5556 9.55588 23.7501 8.58921 22.7834 7.76699C21.8167 6.94477 20.7112 6.33366 19.4667 5.93366C19.8667 6.66699 20.2167 7.4281 20.5167 8.21699C20.8167 9.00588 21.0667 9.82255 21.2667 10.667ZM13.4667 10.667H18.5334C18.2667 9.68921 17.9223 8.76699 17.5001 7.90033C17.0779 7.03366 16.5779 6.20033 16.0001 5.40033C15.4223 6.20033 14.9223 7.03366 14.5001 7.90033C14.0779 8.76699 13.7334 9.68921 13.4667 10.667ZM6.80008 10.667H10.7334C10.9334 9.82255 11.1834 9.00588 11.4834 8.21699C11.7834 7.4281 12.1334 6.66699 12.5334 5.93366C11.289 6.33366 10.1834 6.94477 9.21675 7.76699C8.25008 8.58921 7.44453 9.55588 6.80008 10.667Z' fill='%231D1D1D'/%3E%3C/svg%3E ");
    }
    
    header.menuPc .gnb .gnbWrap ul.depth1 > li > ul.depth2 {
        display: block;
    }


    /* header addClass menuPc, depth1 > li addClass over > a = mouse hovering  */
    header .gnb .gnbWrap ul.depth1 > li.over {
        position: relative;
    }
    header .gnb .gnbWrap ul.depth1 > li.over > a  {
        color: var(--main-color);
        font-weight: 700;
    }
    header.menuPc .gnb .gnbWrap ul.depth1 > li.over > a::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -25px;
        width: 100%;
        height: 3px;
        background-color: var(--main-color);
    }
    header.dark {
        color: #1d1d1d;
        border-color: rgba(0,0,0,0.4);
    }
    header.dark .logo a::before {
        background-image: url(../images/common/logo.svg);
    }
    
}
@media screen and (max-width:1025px){ /* 768 < n <= 1025 실행 */
    header .gnb .gnbOpen {
        width: var(--header-h);
        height: var(--header-h);
        color: transparent;
        text-indent: -9999px;
        position: relative;
    }
    header .gnb .gnbOpen::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='16' viewBox='0 0 24 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.75 15.5V13H23.25V15.5H0.75ZM0.75 9.25V6.75H23.25V9.25H0.75ZM0.75 3V0.5H23.25V3H0.75Z' fill='white'/%3E%3C/svg%3E ");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 2em;
    }
    header .gnb .gnbWrap {
        display: none;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        max-width: 23em;
        height: 100dvh;
        z-index: 100;
        background-color: #2d2d2d;
    }
    header .gnb .gnbWrap ul.depth1 {
        margin-top: var(--header-h);
        height: calc(100dvh - var(--header-h));
        overflow-y: auto;
        background-color: #fff;
    }
    header .tnb {
        position: absolute;
        right: var(--header-h);
        top: 0;
    }
    header .tnb button {
        width: 2.5em;
        height: var(--header-h);
        color: transparent;
        text-indent: -9999px;
        position: relative;
    }
    header .tnb button::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24.75 26.5L16.875 18.625C16.25 19.125 15.5312 19.5208 14.7188 19.8125C13.9062 20.1042 13.0417 20.25 12.125 20.25C9.85417 20.25 7.93229 19.4635 6.35938 17.8906C4.78646 16.3177 4 14.3958 4 12.125C4 9.85417 4.78646 7.93229 6.35938 6.35938C7.93229 4.78646 9.85417 4 12.125 4C14.3958 4 16.3177 4.78646 17.8906 6.35938C19.4635 7.93229 20.25 9.85417 20.25 12.125C20.25 13.0417 20.1042 13.9062 19.8125 14.7188C19.5208 15.5312 19.125 16.25 18.625 16.875L26.5 24.75L24.75 26.5ZM12.125 17.75C13.6875 17.75 15.0156 17.2031 16.1094 16.1094C17.2031 15.0156 17.75 13.6875 17.75 12.125C17.75 10.5625 17.2031 9.23438 16.1094 8.14062C15.0156 7.04688 13.6875 6.5 12.125 6.5C10.5625 6.5 9.23438 7.04688 8.14062 8.14062C7.04688 9.23438 6.5 10.5625 6.5 12.125C6.5 13.6875 7.04688 15.0156 8.14062 16.1094C9.23438 17.2031 10.5625 17.75 12.125 17.75Z' fill='white'/%3E%3C/svg%3E ");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
    }
    header .tnb .lang {
        display: none;
    }
}
@media screen and (max-width:768px) {
    header .gnb .gnbOpen::before{
        background-size: 1.5em;
    }
    header .tnb button::before {
        background-size: 1.2em;
    }
    header .logo a {
        width: 6.5em;
        height: 2.5em;
    }
    


}