@import url(default.css);
@import url(font.css);
@import url(common.css);
@import url(layout.css?v=2501071217);
.visual {

}
.visual h2 {
    display: none;
}
.visual .swiper {
    width: 100%;
    height: 100%; /*visual에 height100%가 들어가있음 > swiper의 높이를 visual의 높이만큼 들어가겠다**/
}
.visual .swiper ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: var(--section-min-height);
}
.visual .swiper ul li .photo {
    overflow: hidden;
    position: absolute; /* li를 기준으로 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.visual .swiper ul li.video .photo::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
}
.visual .swiper ul li .photo img,
.visual .swiper ul li .photo video {
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.visual .swiper ul li .visualText {
    display: flex;
    flex-direction: column;
    color: #fff;
    text-align: center;
    gap: 1em;
}
.visual .swiper ul li .visualText h3 {
    font-size: var(--title-font-size);
    line-height: 1.2;
    font-weight: 700;
}
.tree {
    font-size: 100px;
    text-align: center;
}
.introduce {
    background-color: var(--main-color);
    color: #fff;
    font-size: 100px;
    text-align: center;
}

 .story {
    background-color: var(--sub-color);
    color: #fff;
    font-size: 100px;
    text-align: center;
}
footer {
    background-color: #000;
}
.quickNav {
    position: fixed;
    left: 20px;
    top: 50%;
    color: #fff;
}