@import url(default.css); /* default.css를 이 문서에 복사해서 넣은 것처럼 불러오기 */
@import url(font.css);
@import url(common.css);

header{
    height: 100px;
}
header .wrapper {
    display: flex;
    justify-content: space-between;
}
header .logo {
    margin: 28px 0 0 0;
}
header .gnb .gnb_open, header .gnb .gnb_close {
    display: none;
    /* 모바일에서만 나타나도록 설계 */
}
header .gnb .gnb_wrap ul {
    display: flex;
}
header .gnb .gnb_wrap ul li a {
    color: #1d1d1d;
    display: block;
    font-size: 22px;
    line-height: 100px;
    /* 메뉴위아래 정렬? */
    padding: 0 21px;
   
}
header .gnb .gnb_wrap ul li a:hover {
    color: #255698;
    font-weight: 800;
}
header .gnb .gnb_wrap ul li a span {
    position: relative;
}
header .gnb .gnb_wrap ul li a span::after{
    content: "";
    position: absolute; /*  span태그를 기준으로 정렬 why span은 inline요소이므로 요소크기에 딱 맞는 크기를 가져가기에 밑줄을 100%로 주었을때 좀 더 딱 맞게 들어감. */
    left: 0;
    bottom: -7px;
    background-color: #255698;
    height: 2px;
    width: 100%;
    display: none;
}
/* 왜 frist child한테만 들어갈까.....왜이럴까.... */

header .gnb .gnb_wrap ul li a:hover span::after{
    display: block;
}
.visual {
    background: url(../images/visual_bg.jpg) no-repeat center center / cover;
    color: #fff;
    height: 800px;
}
.visual .wrapper {
    padding-top: 291px;
}
.visual h2 {
    font-size: 50px;
    font-weight: 800;
}
.introduce {
    margin-top: 63px;
}
.introduce .text_left {
    display: flex;
    gap: 130px;
    align-items: center;
}
.introduce .text_right {
    display: flex;
    flex-direction: row-reverse;
    gap: 130px;
    align-items: center;
    margin-top: 50px;
}
.introduce .inner {
    margin-top: 100px;
    width: 511px;
}
.introduce .inner strong {
    color: #255698;
}
.introduce .inner h2 {
    font-size: 40px;
    font-weight: 800;
    color: #1d1d1d;
    margin: 8px 0;
}
.introduce .inner h2 em {
    color: #255698;
}
.introduce .inner .sub_tit {
    margin-bottom: 16px;
    font-size: 20px;
}
.introduce .photo{
    height: 568px;
    border-radius: 30px;
    overflow: hidden;
}
.introduce .photo img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.introduce .more {
    display: flex;
    gap: 10px;
    margin-top: 40px;
}
.introduce .more a {
    display: block;
    padding: 10px 30px;
    border: 1px solid #255698;
    border-radius: 25px;
}
.introduce .more a.point {
    color: #fff;
    background-color: #255698;
}
.introduce .more a:hover{
    color: #fff;
    background-color: #229EA0;
    border-color: #229EA0;
}
@media screen and (max-width:640px){/* 브라우저 넓이 640px에서만 실행 */
    header{
        height: 50px;
        position: relative;
    }
    header .logo {
        margin: 13px 0 0 0;
    }
    header .logo a img {
        width: 89px; /*넓이만 주면 높이는 가변성으로 인하여 알맞게 변화함 그러므로 굳이 높이까지 정의 할 필요는 없음*/
    }
    header .gnb .gnb_open {
        display: block;
        /* 모바일에서만 나타나도록 설계 */
        position: absolute; /*  header를 기준으로 들어감 */
        top: 3px;
        right: 0;
        width: 60px;
        height: 50px;
        font-size: 0; /*  기존의 글자(메뉴열기) 삭제 */
        line-height: 0;

    }
    header .gnb .gnb_open::after{
        content: "";
        position: absolute;
        left: 0;
        top: 4px;
        width: 100%; /*감싸는 요소릐 사이즈가 지정되어있을때*/
        height: 100%;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19.068' height='13.973' viewBox='0 0 19.068 13.973'%3E%3Cpath id='menu_24dp_5F6368_FILL0_wght400_GRAD0_opsz24' d='M121.059-706.027a.98.98,0,0,1-.755-.335,1.187,1.187,0,0,1-.3-.83,1.187,1.187,0,0,1,.3-.83.98.98,0,0,1,.755-.335h16.949a.98.98,0,0,1,.755.335,1.187,1.187,0,0,1,.3.83,1.187,1.187,0,0,1-.3.83.98.98,0,0,1-.755.335Zm0-5.822a.979.979,0,0,1-.755-.335,1.186,1.186,0,0,1-.3-.83,1.187,1.187,0,0,1,.3-.83.981.981,0,0,1,.755-.334h16.949a.981.981,0,0,1,.755.334,1.187,1.187,0,0,1,.3.83,1.186,1.186,0,0,1-.3.83.979.979,0,0,1-.755.335Zm0-5.822a.979.979,0,0,1-.755-.335,1.187,1.187,0,0,1-.3-.83,1.187,1.187,0,0,1,.3-.83.98.98,0,0,1,.755-.335h16.949a.98.98,0,0,1,.755.335,1.187,1.187,0,0,1,.3.83,1.187,1.187,0,0,1-.3.83.979.979,0,0,1-.755.335Z' transform='translate(-120 720)' fill='%23555'/%3E%3C/svg%3E%0A");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 19px;
    /*  버튼의 크기보다 백그라운드 이미지가 더 작음 그래서 contain주면 안됨 why? */
    /*  영역의 크기에 이미지가 꽉차지 않고 특정한 사이즈로 들어갈때 background-size : 19px 한개만 선언하면 그게 넓이고 높이는 비율에 맞게 들어감(?) */
    /*  아 그니까 영역보다 크기가 작게 들어가야 한다면, 이라는 가정상황일 경우에만 해당되는듯  */
    }
    header .gnb .gnb_close{
        display: none;
    }
    header .gnb .gnb_wrap {
        display: none;
    }
    .visual {
        height: 300px;
    }
    .visual .wrapper {
        padding-top: 145px;
    }
    .visual h2 {
        font-size: 25px;
    }
    .introduce .text_left {
        display: block;
    }
    .introduce .text_right {
        display: block;
    }
    .introduce .text_left .inner{
        margin-top: 20px;
    }
    .introduce .text_right .inner {
        margin-top: 50px;
    }
    .introduce .inner strong {
        font-size: 13px;
    }
    .introduce .inner h2 {
        font-size: 25px;
    }
    .introduce .inner .sub_tit {
        margin: 4px 0 8px 0;
        font-size: 13px;
        font-weight: 700;
    }
    .introduce .photo{
        height: 568px;
        border-radius: 30px;
        overflow: hidden;
    }
    .introduce .photo img {
        height: 100%;
        width: 100%;
        margin-top: 15px;
        object-fit: cover;
    }
    .introduce .more {
        display: flex;
        gap: 10px;
        margin-top: 40px;
    }
    .introduce .more a {
        padding: 5px 15px;
        border-radius: 20px;
    }
    
}/*media*/










footer {
    margin-top: 500px;
}