@import url(default.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

body {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: #3d3d3d;
    line-height: 1.4;
    letter-spacing: -0.02em;
    word-break: keep-all;/* 단어별로 줄 바꿈 할께~ 이자식은 단어를 이해못해 띄어쓰기로 이해함*/
    word-wrap: break-word;/*그래서 단어가 엄청 길면 줄바꿈이 안되니까 강제로 줄바꿈을 함 keep all의 오류를 수정*/
}

.wrapper {
    width: 1260px;
    margin: 0 auto;
    position: relative;
}

#wrap {
    min-width: 1300px;
    /*브라우져의 최소 넓이를 지정함 why 작은 부라우저에서 가로스크롤이 잘림
    wrapper에서 지정한 width에 좌우 여백 20px씩 준 값 */
}

.sec01 {
    height: 300px;
    background-color: #f4f4f4;
}

.box01, 
.box02,
.box03 {
    width: 200px;
    height: 150px;
    border: 2px solid #3d3d3d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec02 {
    background-color: aquamarine;
    height: 300px;
    position: relative;/* box03 정렬의 기준*/
}

.sec02 .box02 {
    position: absolute;
    /* sec02안에 있기 때문에 다른 요소를 기준으로 정렬하고 싶어도
    sec02에 position 속성이 있기 때문에 무조건 sec02 기준으로 정렬*/
    left: 50%;
    top: 0;
}

.box03 {
    position: absolute;/* sec02를 기준으로 정렬*/
    right: 10px;
    bottom: 10px;
}

.news {
    margin: 100px 0;
}

.news .wrpper {
    position: relative; /*more의 기준이 되기위해 기준점이 되어주는 property*/
}

.news h2 {
    color: #1d1d1d;
    font-size: 40px;
    font-weight: 700;
    margin: 0 0 20px 0;
    position: relative; /*before 정렬의 기준*/
}

.news h2::before {
    content: "";
    position: absolute;
    top: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background-color: #1d1d1d;

}

.news h2::after {
    content: "ㅣ";
}

.news .list ul {
    display: flex;
    justify-content: space-between;
}

.news .list ul li {
    width: 23%;
    height: 100px;
    background-color: #f4f4f4;
    border: 1px solid #3d3d3d;
}

.news .more {
    position: absolute; /*밑에 있는 더보기를 위로 끌어올리기 위한 property*/
    right: 0;
    top: 0;
}

.news .more a {
    background-color: aquamarine;
    color: #1d1d1d;
    padding: 10px 50px;
    border-radius: 50px;
    display: inline-block;
}