@import url(default.css);
@import url(font.css);
@import url(common.css);
@import url(layout.css);

.inner_left ul{
    width: 350px;
}
.inner_left ul li{
    height: 460px;
    margin: 20px 0;
}

.inner_left ul li a {
    display: block;
    position: relative;
}
.inner_left ul li a .photo{
    position: relative;

}
.inner_left ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.inner_left ul li a.over::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
}

.inner_left ul li a span {
    display: none;
    position: absolute;
    left: 20px;
    bottom: 20px;
    color: #fff;
    font-weight: 700;
    z-index: 10;
}
.inner_left ul li a.over span {
    display: block;
}