@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: #3d3d3d;
    line-height: 1.4;
}

.env {
    background: url(../images/envi_bg.png) no-repeat center center / cover;
    /* 배경으로 삽입한 이미지는 그 영역의 넓이만큼 보임
    아무리 이미지가 커도 영역이 작으면 이미지가 짤림
    그럼 배경엥 넣은 이미지를 다 보이게 하고 싶으면 
    영역이 커져야함 > 해결방법은 높이를 부여하는 것*/

    height: 700px;
    color: #ffffff;
    text-align: center;
}

.wrapper {
    width: 1260px;
    margin: 0 auto;
}

.env h1 {
    font-size: 40px;
    font-weight: 700;
    padding: 400px 0 10px 0;
}

.heal h1 {
    margin: 190px 0 10px 0;
    font-size: 40px;
    font-weight: 700;
}

strong {
    color: #ce1527;
    font-weight: 700;
    font-size: 40px;
}

.heal p strong {
    font-size: 17px;
    font-weight: 400
}

img {
    margin: 60px 0 200px 0;
    height: 344px;
}









