h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}

ul, li, ol {
    list-style: none; /*리스트 스타일 삭제*/
}

* { 
    margin: 0;
    padding: 0; /*모든 태그의 여백 삭제*/
}

a {
    color: inherit; /* a태그의 파란색으로 드는것을 초기화*/
    text-decoration: none; /* a탸구우의 밑줄을 제ㅐ거*/
}

strong {
    font-weight: inherit;
}

address, em {
    font-style: normal;
}