@import url(default.css); /* default.css 문서를 불러오기 */
@import url(font.css);
@import url(common.css);

.icon h2 {
    font-size: 40px;
    color: #1d1d1d;
    font-weight: 600;
    margin: 90px 0 20px 0;
}

.icon h3 {
    font-size: 30px;
    color: #1d1d1d;
    font-weight: 600;
    margin: 67px 0 20px 0;
}

/*
    위의 요소의 하단여백(margin)이 50px이고.
    밑의 요소의 상단여백(margin)이 100px이면.
    둘 사이의 여백은 100px이다
    margin이 중복이 되면 둘중에 큰값만 적용된다.
*/

.svg_img .more {
    margin: 50px 0 ;
}

.svg_img .more a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 130px;
    border: 1px solid #c6c6c6;
    padding: 10px 17px 10px 30px;
    border-radius: 30px;
}

.svg_img .more a strong {
    margin-right: 26px;
}

.svg_img .list ul {
    display: flex;
}

.svg_img .list ul li {
    width: 100px;
    margin-right: 30px;
}

.svg_img .list ul li a {
    display: block;
    text-align: center;

}

.svg_img .list ul li a .photo {
    width: 82px;
    height: 72px;
    background-color: #f5f5f5;
    border-radius: 50%;
    display: inline-block;
    /* block 요소는 text-aline center 가 안됨, 그래서 inline-block를 줘야됨*/
    padding-top: 22px;
    margin-bottom: 11px;
}

.svg_bg .more a {
    margin: 50px 0;
    display: inline-block;
    border: 1px solid #c6c6c6;
    padding: 10px 74px 8px 30px;
    border-radius: 30px;
    background: url(../img/more_icon.png) no-repeat right 14px top 8px;
}

.svg_bg .more a:hover {
    border-color: #1A73E8;
    background-color: #1A73E8;
    color: #f5f5f5;
    background-image: url(../img/more_icon_w.png);
}

.svg_bg .list ul {
    display: flex;
}

.svg_bg .list ul li {
    width: 100px;
    margin-right: 30px;
}

.svg_bg .list ul li a {
    display: block;
    text-align: center;

}

.svg_bg .list ul li a i {
    width: 82px;
    height: 82px;
    background-color: #f5f5f5;
    border-radius: 50%;
    display: inline-block;
    /* block 요소는 text-aline center 가 안됨, 그래서 inline-block를 줘야됨*/
    margin-bottom: 11px;
    background-repeat: no-repeat;
    /*모든 배경의 위치와 반복값은 같고, 경로만 다르니까 -i한테는 겹치는 값*/
    background-position: center center;
}

.svg_bg .list ul li.icon1 a i {
    background-image: url(../img/link_icon01.svg);
}

.svg_bg .list ul li.icon2 a i {
    background-image: url(../img/link_icon02.svg);
}

.svg_bg .list ul li.icon3 a i {
    background-image: url(../img/link_icon03.svg);
}

.svg_bg .list ul li a:hover i {
    background-color: #1A73E8;
}

.svg_bg .list ul li.icon1 a:hover i {
    background-image: url(../img/link_icon01_w.svg);
    transition: 0.5s;
}

.svg_bg .list ul li.icon2 a:hover i {
    background-image: url(../img/link_icon02_w.svg);
    transition: 0.5s;
}

.svg_bg .list ul li.icon3 a:hover i {
    background-image: url(../img/link_icon03_w.svg);
    transition: 0.5s;
}

.svg_before .more a {
    margin: 50px 0;
    display: inline-block;
    border: 1px solid #c6c6c6;
    padding: 10px 74px 8px 30px;
    border-radius: 30px;
    position: relative;
}

.svg_before .more a::after {
    content: "";
    position: absolute;
    right: 15px;
    top: 8px;
    width: 24px;
    height: 24px;
    background: url(../img/more_icon.png) no-repeat center center;
}

.svg_before .more a:hover::after {
    background-image: url(../img/more_icon_w.png);
}

.svg_before .more a:hover {
    border-color: #1A73E8;
    background-color: #1A73E8;
    color: #f5f5f5;
}

.svg_before .list ul {
    display: flex;
}

.svg_before .list ul li {
    width: 100px;
    margin-right: 30px;
}

.svg_before .list ul li a {
    display: block;
    text-align: center;
    position: relative; /* before의 기준*/
    padding-top: 95px;
}


/* 
a사이즈는 현재 넓이100px인데 a:before가 82px이고
이걸 a안에 가운데 정렬을 하고 싶음
1. left를 9px를 줌 (100-82=18/2=9)
2. left를 50%를 줘서 가운데에서 시작을 하고
    넓이의 절반을 빼준다
    ex) width : calc (50% - 35px)
3. left를 50%를 줘서 가운데에서 시작하게 하고
    transfrom : translateX(-50%)
    = 너의 넓이의 50%를 왼쪽으로 이동한다?
    장점 넓이를 모르더라고 비를 사용하기때문에 값을 입력할수있음
 */
.svg_before .list ul li a::before {
    content: "";
    position: absolute;
    transform: translateX(-50%);
    top: 0;
    left: 50%; /*정렬의 기준이되는 a를 */
    width: 82px;
    height: 82px;
    background-color: #f5f5f5;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 50%;
}

.svg_before .list ul li.icon1 a::before {
    background-image: url(../img/link_icon01.svg);
}

.svg_before .list ul li.icon2 a::before {
    background-image: url(../img/link_icon02.svg);
}

.svg_before .list ul li.icon3 a::before {
    background-image: url(../img/link_icon03.svg);
}

.svg_before .list ul li a:hover::before {
    background-color: #1A73E8;
}


.svg_before .list ul li.icon1 a:hover::before {
    background-image: url(../img/link_icon01_w.svg);
    transition: 0.5s;
}

.svg_before .list ul li.icon2 a:hover::before {
    background-image: url(../img/link_icon02_w.svg);
    transition: 0.5s;
}

.svg_before .list ul li.icon3 a:hover::before {
    background-image: url(../img/link_icon03_w.svg);
    transition: 0.5s;
}

.google .more {
    margin: 50px 0;
}

.google .more a {
    margin: 50px 0;
    display: inline-block;
    border: 1px solid #c6c6c6;
    padding: 12px 74px 9px 28px;
    border-radius: 30px;
    position: relative;
}

.google .more a i {
    font-size: 24px; /* 구글아이콘은 크기를 font-size로 정의함 넓이가 24px이면 font-size도 똑같이 24px로 들어감 */
    color: #3d3d3d;
    position: absolute;
    top: 11px;
    right: 24px;
}

.google .more a:hover {
    border-color: #1A73E8;
    background-color: #1A73E8;
    color: #fff;
}

.google .more a:hover i {
    color: #fff;
}

.path .more {
    margin: 50px 0;
}

.path .more a {
    border: 1px solid #c6c6c6;
    border-radius: 30px;
    padding: 14px 74px 10px 29px;
    display: inline-block;
    position: relative;/* after의 content정렬의 기준*/
}

.path .more a::after {
    content: "";
    position: absolute;
    top: 12px;
    right: 18px;
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 13.5881H6C5.71667 13.5881 5.47917 13.4923 5.2875 13.3006C5.09583 13.109 5 12.8715 5 12.5881C5 12.3048 5.09583 12.0673 5.2875 11.8756C5.47917 11.684 5.71667 11.5881 6 11.5881H11V6.58813C11 6.3048 11.0958 6.0673 11.2875 5.87563C11.4792 5.68397 11.7167 5.58813 12 5.58813C12.2833 5.58813 12.5208 5.68397 12.7125 5.87563C12.9042 6.0673 13 6.3048 13 6.58813V11.5881H18C18.2833 11.5881 18.5208 11.684 18.7125 11.8756C18.9042 12.0673 19 12.3048 19 12.5881C19 12.8715 18.9042 13.109 18.7125 13.3006C18.5208 13.4923 18.2833 13.5881 18 13.5881H13V18.5881C13 18.8715 12.9042 19.109 12.7125 19.3006C12.5208 19.4923 12.2833 19.5881 12 19.5881C11.7167 19.5881 11.4792 19.4923 11.2875 19.3006C11.0958 19.109 11 18.8715 11 18.5881V13.5881Z' fill='%233d3d3d'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
}

.path .more a:hover{
    border-color: #1A73E8;
    background-color: #1A73E8;
    color: #fff;
}

.path .more a:hover::after {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 13.5881H6C5.71667 13.5881 5.47917 13.4923 5.2875 13.3006C5.09583 13.109 5 12.8715 5 12.5881C5 12.3048 5.09583 12.0673 5.2875 11.8756C5.47917 11.684 5.71667 11.5881 6 11.5881H11V6.58813C11 6.3048 11.0958 6.0673 11.2875 5.87563C11.4792 5.68397 11.7167 5.58813 12 5.58813C12.2833 5.58813 12.5208 5.68397 12.7125 5.87563C12.9042 6.0673 13 6.3048 13 6.58813V11.5881H18C18.2833 11.5881 18.5208 11.684 18.7125 11.8756C18.9042 12.0673 19 12.3048 19 12.5881C19 12.8715 18.9042 13.109 18.7125 13.3006C18.5208 13.4923 18.2833 13.5881 18 13.5881H13V18.5881C13 18.8715 12.9042 19.109 12.7125 19.3006C12.5208 19.4923 12.2833 19.5881 12 19.5881C11.7167 19.5881 11.4792 19.4923 11.2875 19.3006C11.0958 19.109 11 18.8715 11 18.5881V13.5881Z' fill='%23ffffff'/%3E%3C/svg%3E%0A");
}

.path .list ul {
    display: flex;

}

.path .list ul li {
    width: 100px;
    margin-right: 10px;
}

.path .list ul li a {
    display: block;
    /*글자의 색상/색상/크기/정렬 - a 태그에 주는것이 좋음*/
    text-align: center;
    position: relative;
    padding-top: 97px;
}

.path .list ul li a::before {
    content: "";
    position: absolute;
    top: 0;
    transform: translateX(-50%); /* before의 넓이를 -50%하겠다? 그럼 제자리 아님? > 백그라운드 넓이 기준으로 절반*/
    left: 50%; /* a태그의 50%지점부터 background를 그리기 시작하겠다 > a태그 넓이를 기준 절반*/
    width: 82px;
    height: 82px;
    border-radius: 50%;
    background-color: #f5f5f5;
}

.path .list ul li a::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 22px;
    transform: translateX(-50%);
    width: 37px;
    height: 37px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    /* 내가 지정한 넓이와 높이에 아이콘이 짤리지 않고 딱 맞게 리사이즈되는 명령 */
}

.path .list ul li.icon1 a::after {
    background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.90247 21.7369H10.2775V16.1119C10.2775 15.7931 10.3853 15.5259 10.6009 15.3103C10.8165 15.0947 11.0837 14.9869 11.4025 14.9869H15.9025C16.2212 14.9869 16.4884 15.0947 16.704 15.3103C16.9197 15.5259 17.0275 15.7931 17.0275 16.1119V21.7369H20.4025V11.6119L13.6525 6.54938L6.90247 11.6119V21.7369ZM4.65247 21.7369V11.6119C4.65247 11.2556 4.73215 10.9181 4.89153 10.5994C5.0509 10.2806 5.27122 10.0181 5.55247 9.81188L12.3025 4.74938C12.6962 4.44938 13.1462 4.29938 13.6525 4.29938C14.1587 4.29938 14.6087 4.44938 15.0025 4.74938L21.7525 9.81188C22.0337 10.0181 22.254 10.2806 22.4134 10.5994C22.5728 10.9181 22.6525 11.2556 22.6525 11.6119V21.7369C22.6525 22.3556 22.4322 22.8853 21.9915 23.3259C21.5509 23.7666 21.0212 23.9869 20.4025 23.9869H15.9025C15.5837 23.9869 15.3165 23.8791 15.1009 23.6634C14.8853 23.4478 14.7775 23.1806 14.7775 22.8619V17.2369H12.5275V22.8619C12.5275 23.1806 12.4197 23.4478 12.204 23.6634C11.9884 23.8791 11.7212 23.9869 11.4025 23.9869H6.90247C6.28372 23.9869 5.75403 23.7666 5.3134 23.3259C4.87278 22.8853 4.65247 22.3556 4.65247 21.7369Z' fill='%235F6368'/%3E%3C/svg%3E ");
}

.path .list ul li.icon2 a::after{
    background-image: url("data:image/svg+xml,%3Csvg width='27' height='28' viewBox='0 0 27 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_3_55)'%3E%3Cpath d='M1.66176 20.6119C1.35482 20.6119 1.09753 20.5041 0.889889 20.2884C0.68225 20.0728 0.57843 19.8056 0.57843 19.4869V18.84C0.57843 18.0338 0.975652 17.3775 1.7701 16.8713C2.56454 16.365 3.61176 16.1119 4.91176 16.1119C5.14649 16.1119 5.37218 16.1166 5.58885 16.1259C5.80551 16.1353 6.01315 16.1588 6.21176 16.1963C5.95899 16.59 5.7694 17.0025 5.64301 17.4338C5.51662 17.865 5.45343 18.315 5.45343 18.7838V20.6119H1.66176ZM8.16176 20.6119C7.85482 20.6119 7.59753 20.5041 7.38989 20.2884C7.18225 20.0728 7.07843 19.8056 7.07843 19.4869V18.7838C7.07843 18.1838 7.23642 17.6353 7.55239 17.1384C7.86836 16.6416 8.31524 16.2056 8.89301 15.8306C9.47079 15.4556 10.1614 15.1744 10.9649 14.9869C11.7684 14.7994 12.6395 14.7056 13.5784 14.7056C14.5354 14.7056 15.4156 14.7994 16.2191 14.9869C17.0225 15.1744 17.7132 15.4556 18.2909 15.8306C18.8687 16.2056 19.3111 16.6416 19.618 17.1384C19.925 17.6353 20.0784 18.1838 20.0784 18.7838V19.4869C20.0784 19.8056 19.9746 20.0728 19.767 20.2884C19.5593 20.5041 19.302 20.6119 18.9951 20.6119H8.16176ZM21.7034 20.6119V18.7838C21.7034 18.2963 21.6448 17.8369 21.5274 17.4056C21.41 16.9744 21.234 16.5713 20.9993 16.1963C21.1979 16.1588 21.401 16.1353 21.6086 16.1259C21.8163 16.1166 22.0284 16.1119 22.2451 16.1119C23.5451 16.1119 24.5923 16.3603 25.3868 16.8572C26.1812 17.3541 26.5784 18.015 26.5784 18.84V19.4869C26.5784 19.8056 26.4746 20.0728 26.267 20.2884C26.0593 20.5041 25.802 20.6119 25.4951 20.6119H21.7034ZM9.38051 18.3619H17.8034C17.6229 17.9869 17.1218 17.6588 16.3003 17.3775C15.4788 17.0963 14.5715 16.9556 13.5784 16.9556C12.5854 16.9556 11.6781 17.0963 10.8566 17.3775C10.035 17.6588 9.54301 17.9869 9.38051 18.3619ZM4.91176 14.9869C4.31593 14.9869 3.80586 14.7666 3.38156 14.3259C2.95725 13.8853 2.7451 13.3556 2.7451 12.7369C2.7451 12.0994 2.95725 11.565 3.38156 11.1338C3.80586 10.7025 4.31593 10.4869 4.91176 10.4869C5.52565 10.4869 6.04024 10.7025 6.45551 11.1338C6.87079 11.565 7.07843 12.0994 7.07843 12.7369C7.07843 13.3556 6.87079 13.8853 6.45551 14.3259C6.04024 14.7666 5.52565 14.9869 4.91176 14.9869ZM22.2451 14.9869C21.6493 14.9869 21.1392 14.7666 20.7149 14.3259C20.2906 13.8853 20.0784 13.3556 20.0784 12.7369C20.0784 12.0994 20.2906 11.565 20.7149 11.1338C21.1392 10.7025 21.6493 10.4869 22.2451 10.4869C22.859 10.4869 23.3736 10.7025 23.7888 11.1338C24.2041 11.565 24.4118 12.0994 24.4118 12.7369C24.4118 13.3556 24.2041 13.8853 23.7888 14.3259C23.3736 14.7666 22.859 14.9869 22.2451 14.9869ZM13.5784 13.8619C12.6757 13.8619 11.9083 13.5338 11.2763 12.8775C10.6444 12.2213 10.3284 11.4244 10.3284 10.4869C10.3284 9.53063 10.6444 8.72906 11.2763 8.08219C11.9083 7.43531 12.6757 7.11188 13.5784 7.11188C14.4993 7.11188 15.2711 7.43531 15.8941 8.08219C16.517 8.72906 16.8284 9.53063 16.8284 10.4869C16.8284 11.4244 16.517 12.2213 15.8941 12.8775C15.2711 13.5338 14.4993 13.8619 13.5784 13.8619ZM13.5784 11.6119C13.8854 11.6119 14.1427 11.5041 14.3503 11.2884C14.5579 11.0728 14.6618 10.8056 14.6618 10.4869C14.6618 10.1681 14.5579 9.90094 14.3503 9.68531C14.1427 9.46969 13.8854 9.36188 13.5784 9.36188C13.2715 9.36188 13.0142 9.46969 12.8066 9.68531C12.5989 9.90094 12.4951 10.1681 12.4951 10.4869C12.4951 10.8056 12.5989 11.0728 12.8066 11.2884C13.0142 11.5041 13.2715 11.6119 13.5784 11.6119Z' fill='%235F6368'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_3_55'%3E%3Crect width='26' height='27' fill='white' transform='translate(0.57843 0.361877)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E ");
}

.path .list ul li.icon3 a::after{
    background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.55847 23.9869C5.93972 23.9869 5.41003 23.7666 4.96941 23.3259C4.52878 22.8853 4.30847 22.3556 4.30847 21.7369V5.98688C4.30847 5.36813 4.52878 4.83844 4.96941 4.39781C5.41003 3.95719 5.93972 3.73688 6.55847 3.73688H11.2835C11.5272 3.06188 11.935 2.51813 12.5069 2.10563C13.0788 1.69313 13.721 1.48688 14.4335 1.48688C15.146 1.48688 15.7882 1.69313 16.36 2.10563C16.9319 2.51813 17.3397 3.06188 17.5835 3.73688H22.3085C22.9272 3.73688 23.4569 3.95719 23.8975 4.39781C24.3382 4.83844 24.5585 5.36813 24.5585 5.98688V21.7369C24.5585 22.3556 24.3382 22.8853 23.8975 23.3259C23.4569 23.7666 22.9272 23.9869 22.3085 23.9869H6.55847ZM6.55847 21.7369H22.3085V5.98688H6.55847V21.7369ZM9.93347 19.4869H15.5585C15.8772 19.4869 16.1444 19.3791 16.36 19.1634C16.5757 18.9478 16.6835 18.6806 16.6835 18.3619C16.6835 18.0431 16.5757 17.7759 16.36 17.5603C16.1444 17.3447 15.8772 17.2369 15.5585 17.2369H9.93347C9.61472 17.2369 9.34753 17.3447 9.13191 17.5603C8.91628 17.7759 8.80847 18.0431 8.80847 18.3619C8.80847 18.6806 8.91628 18.9478 9.13191 19.1634C9.34753 19.3791 9.61472 19.4869 9.93347 19.4869ZM9.93347 14.9869H18.9335C19.2522 14.9869 19.5194 14.8791 19.735 14.6634C19.9507 14.4478 20.0585 14.1806 20.0585 13.8619C20.0585 13.5431 19.9507 13.2759 19.735 13.0603C19.5194 12.8447 19.2522 12.7369 18.9335 12.7369H9.93347C9.61472 12.7369 9.34753 12.8447 9.13191 13.0603C8.91628 13.2759 8.80847 13.5431 8.80847 13.8619C8.80847 14.1806 8.91628 14.4478 9.13191 14.6634C9.34753 14.8791 9.61472 14.9869 9.93347 14.9869ZM9.93347 10.4869H18.9335C19.2522 10.4869 19.5194 10.3791 19.735 10.1634C19.9507 9.94781 20.0585 9.68063 20.0585 9.36188C20.0585 9.04313 19.9507 8.77594 19.735 8.56031C19.5194 8.34469 19.2522 8.23688 18.9335 8.23688H9.93347C9.61472 8.23688 9.34753 8.34469 9.13191 8.56031C8.91628 8.77594 8.80847 9.04313 8.80847 9.36188C8.80847 9.68063 8.91628 9.94781 9.13191 10.1634C9.34753 10.3791 9.61472 10.4869 9.93347 10.4869ZM14.4335 5.14313C14.6772 5.14313 14.8788 5.06344 15.0382 4.90406C15.1975 4.74469 15.2772 4.54313 15.2772 4.29938C15.2772 4.05563 15.1975 3.85406 15.0382 3.69469C14.8788 3.53531 14.6772 3.45563 14.4335 3.45563C14.1897 3.45563 13.9882 3.53531 13.8288 3.69469C13.6694 3.85406 13.5897 4.05563 13.5897 4.29938C13.5897 4.54313 13.6694 4.74469 13.8288 4.90406C13.9882 5.06344 14.1897 5.14313 14.4335 5.14313Z' fill='%235F6368'/%3E%3C/svg%3E ");
}

.path .list ul li a:hover::before {
    background-color: #1A73E8;
}

.path .list ul li.icon1 a:hover::after {
    background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.90247 21.7369H10.2775V16.1119C10.2775 15.7931 10.3853 15.5259 10.6009 15.3103C10.8165 15.0947 11.0837 14.9869 11.4025 14.9869H15.9025C16.2212 14.9869 16.4884 15.0947 16.704 15.3103C16.9197 15.5259 17.0275 15.7931 17.0275 16.1119V21.7369H20.4025V11.6119L13.6525 6.54938L6.90247 11.6119V21.7369ZM4.65247 21.7369V11.6119C4.65247 11.2556 4.73215 10.9181 4.89153 10.5994C5.0509 10.2806 5.27122 10.0181 5.55247 9.81188L12.3025 4.74938C12.6962 4.44938 13.1462 4.29938 13.6525 4.29938C14.1587 4.29938 14.6087 4.44938 15.0025 4.74938L21.7525 9.81188C22.0337 10.0181 22.254 10.2806 22.4134 10.5994C22.5728 10.9181 22.6525 11.2556 22.6525 11.6119V21.7369C22.6525 22.3556 22.4322 22.8853 21.9915 23.3259C21.5509 23.7666 21.0212 23.9869 20.4025 23.9869H15.9025C15.5837 23.9869 15.3165 23.8791 15.1009 23.6634C14.8853 23.4478 14.7775 23.1806 14.7775 22.8619V17.2369H12.5275V22.8619C12.5275 23.1806 12.4197 23.4478 12.204 23.6634C11.9884 23.8791 11.7212 23.9869 11.4025 23.9869H6.90247C6.28372 23.9869 5.75403 23.7666 5.3134 23.3259C4.87278 22.8853 4.65247 22.3556 4.65247 21.7369Z' fill='%23fff'/%3E%3C/svg%3E ");
}

.path .list ul li.icon2 a:hover::after{
    background-image: url("data:image/svg+xml,%3Csvg width='27' height='28' viewBox='0 0 27 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_3_55)'%3E%3Cpath d='M1.66176 20.6119C1.35482 20.6119 1.09753 20.5041 0.889889 20.2884C0.68225 20.0728 0.57843 19.8056 0.57843 19.4869V18.84C0.57843 18.0338 0.975652 17.3775 1.7701 16.8713C2.56454 16.365 3.61176 16.1119 4.91176 16.1119C5.14649 16.1119 5.37218 16.1166 5.58885 16.1259C5.80551 16.1353 6.01315 16.1588 6.21176 16.1963C5.95899 16.59 5.7694 17.0025 5.64301 17.4338C5.51662 17.865 5.45343 18.315 5.45343 18.7838V20.6119H1.66176ZM8.16176 20.6119C7.85482 20.6119 7.59753 20.5041 7.38989 20.2884C7.18225 20.0728 7.07843 19.8056 7.07843 19.4869V18.7838C7.07843 18.1838 7.23642 17.6353 7.55239 17.1384C7.86836 16.6416 8.31524 16.2056 8.89301 15.8306C9.47079 15.4556 10.1614 15.1744 10.9649 14.9869C11.7684 14.7994 12.6395 14.7056 13.5784 14.7056C14.5354 14.7056 15.4156 14.7994 16.2191 14.9869C17.0225 15.1744 17.7132 15.4556 18.2909 15.8306C18.8687 16.2056 19.3111 16.6416 19.618 17.1384C19.925 17.6353 20.0784 18.1838 20.0784 18.7838V19.4869C20.0784 19.8056 19.9746 20.0728 19.767 20.2884C19.5593 20.5041 19.302 20.6119 18.9951 20.6119H8.16176ZM21.7034 20.6119V18.7838C21.7034 18.2963 21.6448 17.8369 21.5274 17.4056C21.41 16.9744 21.234 16.5713 20.9993 16.1963C21.1979 16.1588 21.401 16.1353 21.6086 16.1259C21.8163 16.1166 22.0284 16.1119 22.2451 16.1119C23.5451 16.1119 24.5923 16.3603 25.3868 16.8572C26.1812 17.3541 26.5784 18.015 26.5784 18.84V19.4869C26.5784 19.8056 26.4746 20.0728 26.267 20.2884C26.0593 20.5041 25.802 20.6119 25.4951 20.6119H21.7034ZM9.38051 18.3619H17.8034C17.6229 17.9869 17.1218 17.6588 16.3003 17.3775C15.4788 17.0963 14.5715 16.9556 13.5784 16.9556C12.5854 16.9556 11.6781 17.0963 10.8566 17.3775C10.035 17.6588 9.54301 17.9869 9.38051 18.3619ZM4.91176 14.9869C4.31593 14.9869 3.80586 14.7666 3.38156 14.3259C2.95725 13.8853 2.7451 13.3556 2.7451 12.7369C2.7451 12.0994 2.95725 11.565 3.38156 11.1338C3.80586 10.7025 4.31593 10.4869 4.91176 10.4869C5.52565 10.4869 6.04024 10.7025 6.45551 11.1338C6.87079 11.565 7.07843 12.0994 7.07843 12.7369C7.07843 13.3556 6.87079 13.8853 6.45551 14.3259C6.04024 14.7666 5.52565 14.9869 4.91176 14.9869ZM22.2451 14.9869C21.6493 14.9869 21.1392 14.7666 20.7149 14.3259C20.2906 13.8853 20.0784 13.3556 20.0784 12.7369C20.0784 12.0994 20.2906 11.565 20.7149 11.1338C21.1392 10.7025 21.6493 10.4869 22.2451 10.4869C22.859 10.4869 23.3736 10.7025 23.7888 11.1338C24.2041 11.565 24.4118 12.0994 24.4118 12.7369C24.4118 13.3556 24.2041 13.8853 23.7888 14.3259C23.3736 14.7666 22.859 14.9869 22.2451 14.9869ZM13.5784 13.8619C12.6757 13.8619 11.9083 13.5338 11.2763 12.8775C10.6444 12.2213 10.3284 11.4244 10.3284 10.4869C10.3284 9.53063 10.6444 8.72906 11.2763 8.08219C11.9083 7.43531 12.6757 7.11188 13.5784 7.11188C14.4993 7.11188 15.2711 7.43531 15.8941 8.08219C16.517 8.72906 16.8284 9.53063 16.8284 10.4869C16.8284 11.4244 16.517 12.2213 15.8941 12.8775C15.2711 13.5338 14.4993 13.8619 13.5784 13.8619ZM13.5784 11.6119C13.8854 11.6119 14.1427 11.5041 14.3503 11.2884C14.5579 11.0728 14.6618 10.8056 14.6618 10.4869C14.6618 10.1681 14.5579 9.90094 14.3503 9.68531C14.1427 9.46969 13.8854 9.36188 13.5784 9.36188C13.2715 9.36188 13.0142 9.46969 12.8066 9.68531C12.5989 9.90094 12.4951 10.1681 12.4951 10.4869C12.4951 10.8056 12.5989 11.0728 12.8066 11.2884C13.0142 11.5041 13.2715 11.6119 13.5784 11.6119Z' fill='%23fff'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_3_55'%3E%3Crect width='26' height='27' fill='white' transform='translate(0.57843 0.361877)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E ");
}

.path .list ul li.icon3 a:hover::after{
    background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.55847 23.9869C5.93972 23.9869 5.41003 23.7666 4.96941 23.3259C4.52878 22.8853 4.30847 22.3556 4.30847 21.7369V5.98688C4.30847 5.36813 4.52878 4.83844 4.96941 4.39781C5.41003 3.95719 5.93972 3.73688 6.55847 3.73688H11.2835C11.5272 3.06188 11.935 2.51813 12.5069 2.10563C13.0788 1.69313 13.721 1.48688 14.4335 1.48688C15.146 1.48688 15.7882 1.69313 16.36 2.10563C16.9319 2.51813 17.3397 3.06188 17.5835 3.73688H22.3085C22.9272 3.73688 23.4569 3.95719 23.8975 4.39781C24.3382 4.83844 24.5585 5.36813 24.5585 5.98688V21.7369C24.5585 22.3556 24.3382 22.8853 23.8975 23.3259C23.4569 23.7666 22.9272 23.9869 22.3085 23.9869H6.55847ZM6.55847 21.7369H22.3085V5.98688H6.55847V21.7369ZM9.93347 19.4869H15.5585C15.8772 19.4869 16.1444 19.3791 16.36 19.1634C16.5757 18.9478 16.6835 18.6806 16.6835 18.3619C16.6835 18.0431 16.5757 17.7759 16.36 17.5603C16.1444 17.3447 15.8772 17.2369 15.5585 17.2369H9.93347C9.61472 17.2369 9.34753 17.3447 9.13191 17.5603C8.91628 17.7759 8.80847 18.0431 8.80847 18.3619C8.80847 18.6806 8.91628 18.9478 9.13191 19.1634C9.34753 19.3791 9.61472 19.4869 9.93347 19.4869ZM9.93347 14.9869H18.9335C19.2522 14.9869 19.5194 14.8791 19.735 14.6634C19.9507 14.4478 20.0585 14.1806 20.0585 13.8619C20.0585 13.5431 19.9507 13.2759 19.735 13.0603C19.5194 12.8447 19.2522 12.7369 18.9335 12.7369H9.93347C9.61472 12.7369 9.34753 12.8447 9.13191 13.0603C8.91628 13.2759 8.80847 13.5431 8.80847 13.8619C8.80847 14.1806 8.91628 14.4478 9.13191 14.6634C9.34753 14.8791 9.61472 14.9869 9.93347 14.9869ZM9.93347 10.4869H18.9335C19.2522 10.4869 19.5194 10.3791 19.735 10.1634C19.9507 9.94781 20.0585 9.68063 20.0585 9.36188C20.0585 9.04313 19.9507 8.77594 19.735 8.56031C19.5194 8.34469 19.2522 8.23688 18.9335 8.23688H9.93347C9.61472 8.23688 9.34753 8.34469 9.13191 8.56031C8.91628 8.77594 8.80847 9.04313 8.80847 9.36188C8.80847 9.68063 8.91628 9.94781 9.13191 10.1634C9.34753 10.3791 9.61472 10.4869 9.93347 10.4869ZM14.4335 5.14313C14.6772 5.14313 14.8788 5.06344 15.0382 4.90406C15.1975 4.74469 15.2772 4.54313 15.2772 4.29938C15.2772 4.05563 15.1975 3.85406 15.0382 3.69469C14.8788 3.53531 14.6772 3.45563 14.4335 3.45563C14.1897 3.45563 13.9882 3.53531 13.8288 3.69469C13.6694 3.85406 13.5897 4.05563 13.5897 4.29938C13.5897 4.54313 13.6694 4.74469 13.8288 4.90406C13.9882 5.06344 14.1897 5.14313 14.4335 5.14313Z' fill='%23fff'/%3E%3C/svg%3E ");
}






body {
    margin:  0 0 800px 0;
}