@import url(default.css); /* default.css를 이 문서에 복사해서 넣은 것처럼 불러오기 */
@import url(font.css);
@import url(common.css);

.tour{
    margin: 200px 0;
}
.tour .list ul {
    display: flex;
    justify-content: space-between;
}
.tour .list ul li.active {
    width: 49.04%;
}
.tour .list ul li {
    /*
    li하나당 넓이 190 / ul의 넓이 1260 * 100 = 15.07%
    */
    width: 15.07%;
}
.tour .list ul li a {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 370px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding:  0 20px 20px 20px;
}
.tour .list ul li.bg1 a {
    background-image: url(../img/list_bg1.jpg);
}
.tour .list ul li.bg2 a {
    background-image: url(../img/list_bg2.jpg);
}
.tour .list ul li.bg3 a {
    background-image: url(../img/list_bg3.jpg);
}
.tour .list ul li.bg4 a {
    background-image: url(../img/list_bg4.jpg);
}
.tour .list ul li a h3 {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 15px;
}
.tour .list ul li a p {
    display: none;
}
.tour .list ul li.active a p {
    display: block;
}
@media screen and (max-width:640px){
    .tour .list ul {
        display: block;
    }
    .tour .list ul li.active {
        width: auto;
    }
    .tour .list ul li {
        width: auto;
    }
    .tour .list ul li + li {
        margin: 8px 0;
    }
    .tour .list ul li a {
        height: auto;
        padding:  40px 0 10px 20px;
        border-radius: 5px;
    }
    .tour .list ul li a h3 {
        font-size: 15px;
        margin: 0;
    }
    .tour .list ul li.active a h3 {
        font-size: 15px;
        margin: 0 0 5px;
        padding:  60px 0 0 0;
    }
    .tour .list ul li a p {
        display: none;
    }
    .tour .list ul li.active a p {
        display: block;
    }
}

/* 다른방법 */
.biz {
    margin: 200px 0;
}
.biz .list ul {
    display: flex;
    gap: 10px;
}
.biz .list ul li {
    width: 25%;
    transition: 0.5s;
}
.biz .list ul li.active {
    width: 91.04%;
}
.biz .list ul li a {
    display: block;
    position: relative;
    /* h3, p의 정렬의 기준 */
    color: #fff;
}
.biz .list ul li a .photo {
    overflow: hidden;
    height: 385px;
    border-radius: 10px;
}
.biz .list ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.biz .list ul li a h3 {
    position: absolute;
    /* a태그를 기준으로 정렬 */
    left: 30px;
    bottom: 32px;
    width: calc(100% - 40px);
    font-size: 25px;
    font-weight: 700;
    transition: 0.5s;
}
.biz .list ul li a p {
    position: absolute;
    /* a태그를 기준으로 정렬 */
    left: 30px;
    bottom: 8px;
    width: calc(100% - 40px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    opacity: 0;
    transition: 0.5s;
}
.biz .list ul li.active a h3 {
    font-size: 30px;
    bottom: 62px;
}
.biz .list ul li.active a p {
    opacity: 1;
}
@media screen and (max-width:640px){

    .biz .list ul {
        display: block;
    }
    .biz .list ul li {
        width: auto;
    }
    .biz .list ul li.active {
        width: auto;
    }
    .biz .list ul li + li {
        margin: 6px 0;
    }
    .biz .list ul li a .photo {
        height: 90px;
        border-radius: 5px;
    }
    .biz .list ul li a h3 {
        left: 30px;
        bottom: 23px;
        width: calc(100% - 36px);
        font-size: 20px;
    }
    .biz .list ul li a p {
        display: none;
    }
    .biz .list ul li.active a h3 {
        font-size: 20px;
        bottom: 30px;
    }
    .biz .list ul li.active a p {
        display: block;
    }
}

.banner {
    margin: 200px 0;
}
.banner .list ul {
    display: flex;
    gap: 10px;
}
.banner .list ul li {
    width: calc(25% - 18px);
    transition: 0.5s;
}
.banner .list ul li a {
    display: block;
    position: relative;
    /* h3, p의 정렬의 기준 */
    color: #fff;
}
.banner .list ul li a .photo {
    overflow: hidden;
    height: 385px;
    border-radius: 10px;
    position: relative;
}
.banner .list ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banner .list ul li a h3 {
    position: absolute;
    /* a태그를 기준으로 정렬 */
    left: 30px;
    bottom: 32px;
    width: calc(100% - 40px);
    font-size: 25px;
    font-weight: 700;
    transition: 0.5s;
}
.banner .list ul li a p {
    position: absolute;
    /* a태그를 기준으로 정렬 */
    left: 30px;
    bottom: 8px;
    width: calc(100% - 40px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    opacity: 0;
    transition: 0.5s;
}
@media screen and (min-width:640px){
            .banner .list ul li.on {
                width: 64.28%;
            }

            .banner .list ul li.on a h3 {
                position: absolute;
                bottom: 50px;
                font-size: 25px;
            }
            .banner .list ul li.on a p {
                position: absolute;
                bottom: 18px;
                opacity: 1;
                transition: 0.5s;
            }
            .banner .list ul li.off {
                width: 11.11%;
            }
            .banner .list ul li.off a h3 {
                color: rgba(255,255,255,0.8);
            }
            .banner .list ul li.off a .photo::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0,0,0,0.3);
            }
        }
@media screen and (max-width:640px){
    .banner .list {
        overflow-x: auto;
        /* 하위요소가 다 안들어가면 스크롤이 생김 */
    }
    .banner .list ul {
        gap: 5px;
        width: 814px;
        /* 하위요소가 다 안들어가면 스크롤이 생김 */
    }
    .banner .list ul li {
        width: 200px;
        transition: 0.5s;
    }
    .banner .list ul li a .photo {
        height: 300px;
        border-radius: 5px;
    }
    .banner .list ul li a h3 {
        position: absolute;
        /* a태그를 기준으로 정렬 */
        left: 12px;
        bottom: 32px;
        width: calc(100% - 24px);
        font-size: 18px;
        transition: 0.5s;
    }
    .banner .list ul li a p {
        display: none;
    }
}

.slide {
    margin: 200px 0;
}
.slide .list ul {
    display: flex;
    gap: 10px;
}
.slide .list ul li {
    width: calc(25% - 18px);
    transition: 1s;
}
.slide .list ul li a {
    display: block;
    position: relative;
    /* h3, p의 정렬의 기준 */
    color: #fff;
}
.slide .list ul li a .photo {
    overflow: hidden;
    height: 385px;
    border-radius: 10px;
    position: relative;
}
.slide .list ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slide .list ul li a h3 {
    position: absolute;
    /* a태그를 기준으로 정렬 */
    left: 30px;
    bottom: 32px;
    width: calc(100% - 40px);
    font-size: 25px;
    font-weight: 700;
    transition: 0.5s;
}
.slide .list ul li a p {
    position: absolute;
    /* a태그를 기준으로 정렬 */
    left: 30px;
    bottom: 8px;
    width: calc(100% - 40px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    opacity: 0;
    transition: 0.5s;
}
@media screen and (min-width:640px){
    .slide .list ul li[data-status="on"] {
        width: 64.28%;
    }
    .slide .list ul li[data-status="on"] a h3 {
        position: absolute;
        bottom: 50px;
        font-size: 25px;
    }
    .slide .list ul li[data-status ="on"] a p {
        position: absolute;
        bottom: 18px;
        opacity: 1;
        transition: 0.5s;
    }
    .slide .list ul li[data-status="off"] {
        width: 11.11%;
    }
    .slide .list ul li[data-status="off"] a h3 {
        color: rgba(255,255,255,0.8);
    }
    .slide .list ul li[data-status="off"] a .photo::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.3);
    }
}
@media screen and (max-width:640px){

}